/* imports */
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
body {
  margin: 0;
}
/* Less variables */
.block {
  display: block;
}
.block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.hide {
  display: none;
}
.inline {
  display: inline;
}
.list-item {
  display: list-item;
}
.italic {
  font-style: italic;
}
.mono {
  font-family: Courier,monospace;
}
.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.note-like {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #4d88cd;
  background: #faf3ed;
  /* reset text-indent for note with <l> ancestors. */

  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
/* teibp classes */
.-teibp-thumbnail {
  max-height: 60px;
}
.-teibp-pbFacs {
  display: none;
}
.page-setup {
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 13pt;
  line-height: 1.5;
  background-color: #edf3fa;
  color: #232936;
  width: 33em;
}
.table-border {
  border: 1px dotted #333333;
}
/* Choice elements */
choice abbr + expan:before,
choice expan + abbr:before,
choice sic + corr:before,
choice corr + sic:before,
choice orig + reg:before,
choice reg + orig:before {
  content: " (";
}
choice abbr + expan:after,
choice expan + abbr:after,
choice sic + corr:after,
choice corr + sic:after,
choice orig + reg:after,
choice reg + orig:after {
  content: ")";
}
/* A */
a[rend~="super"] {
  vertical-align: super;
  font-size: 70%;
}
a.ref-not-found,
.ptr-not-found,
[class$="-not-found"] {
  text-decoration: none;
  color: inherit;
  pointer: text;
}
ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
accMat {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
accMat:before {
  content: "accompanying materials: ";
}
acquisition {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
activity {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
activity:before {
  content: "activity: ";
}
/* add */
add {
  vertical-align: super;
  font-size: 90%;
}
add[place=below] {
  vertical-align: sub;
  font-size: 90%;
}
additional {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
additions {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
additions:before {
  content: "Significant additions within the document: ";
}
addrLine {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
address[rend~="block"],
addresss[rendition~="#block"] {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
adminInfo {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
altIdentifier {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
altIdentifier:before {
  content: "Alternate ID: ";
}
app {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
appInfo {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
appInfo:before {
  content: "Application information: ";
}
application {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
application:after {
  content: " " attr(version);
}
argument {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
att {
  font-family: Courier,monospace;
  line-height: normal;
}
att:before {
  content: "@";
}
titleStmt > author {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
  margin-bottom: 1em;
}
publicationStmt > availability {
  font-size: 80%;
}
publicationStmt > availability:before {
  font-weight: bold;
  content: "Availability: ";
}
publicationStmt > availability[status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
/* B */
back {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
epigraph bibl:before {
  content: "\2014";
}
bibl[rend~="block"],
bibl[rendition~="#block"] {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  text-indent: -2em;
}
bibl title {
  font-style: italic;
}
biblFull {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
binding {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
binding:before {
  content: "Binding: \A";
  white-space: pre-wrap;
}
binding[contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
bindingDesc {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
bindngDesc:before {
  content: "Binding Description: \A";
}
birth {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
birth:before {
  content: "Birth: ";
}
body {
  color: inherit;
  background-color: inherit;
}
byline {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* c */
cRefPattern {
  display: none;
}
caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
case[value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
castGroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
castItem {
  display: list-item;
  list-style-type: none;
}
castlist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
cb:before {
  content: "[column break]";
  color: gray;
}
cell {
  display: table-cell;
  padding: 1em 1.5em 1em 1em;
  border: 1px dotted #333333;
}
/* for cell or row with @role = label */
[role=label] {
  font-weight: bold;
}
climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
climate:before {
  font-weight: bold;
  content: "Climate: ";
}
closer {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #333333;
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
code {
  font-family: Courier,monospace;
}
/* For things like collation, condition, etc. that can have text or paragraphs as 
children, we should use margins, when the content is text, and no margins when there 
are child paragraphs (or other block elements). Otherwise we end up with double 
margins. */
collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
colophon {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
constitution[type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
constitution[type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
constitution[type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
constitution[type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
/* Need to discuss and coordinate handling of sic/corr, abbr/expan, and orig/reg */
/*
Need to handle attributes for custEvent. All the att.datable* attributes will be tricky. 
custodialHist and custEvent may normally be hidden along with other header metadata, but
we'll have other datable elements that may be tricky. */
custEvent {
  display: list-item;
}
custodialHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* d */
[data-tapas-hashed-ref] {
  border-bottom: 1px dotted #000000;
}
date[when]:empty:before {
  content: attr(when);
}
dateline {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
docDate {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
docEdition {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
docImprint {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
docTitle {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* e */
egXML {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #4d88cd;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
emph {
  font-style: italic;
}
encodingDesc {
  display: none;
}
epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1em;
}
fileDesc > extent {
  display: none;
}
/* f */
figure {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* g */
gap {
  /* GLS: Depending upon how we handle gap and lacuna, we may want to enclose in [] */
}
gi {
  font-family: Courier,monospace;
}
gi:before {
  content: "<";
}
gi:after {
  content: ">";
}
graphic {
  display: none;
}
/* h */
/* Need head with TEI parent to distinguish from HTML head */
TEI head {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
}
TEI text front > head,
TEI text body > head,
TEI text back > head {
  margin-bottom: 1em;
}
body > head {
  font-size: 140%;
}
div > head {
  font-size: 135%;
}
div > div > head {
  font-size: 130%;
}
div > div > div > head {
  font-size: 125%;
}
div > div > div > div > head,
list > head {
  font-size: 120%;
}
div > div > div > div > div > head {
  font-size: 115%;
}
div > div > div > div > div > div head {
  font-size: 110%;
}
figure > head {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #4d88cd;
  background: #faf3ed;
  /* reset text-indent for note with <l> ancestors. */

  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 13pt;
}
div[type="canto"] head {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
div head[type="sub"] {
  font-size: 115%;
}
div[type="chapter"] > head {
  text-align: center;
  margin-bottom: 1em;
}
div[type="half_title"] > head {
  text-align: center;
  padding: 1em;
  border: 1px dashed lightgray;
}
head[type="supplied"] {
  display: none;
}
/* i */
ident {
  font-family: Courier,monospace;
}
item {
  display: list-item;
}
list item {
  margin-left: 1em;
  margin-top: .125em;
  margin-bottom: .25em;
}
cell item {
  margin-left: 1em;
}
/* j */
/* k */
/* l */
l {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /*padding-left:2em;
text-indent:-2em;*/

}
.poem-line-count {
  font-size: 80%;
  display: inline-block;
  min-width: 1.5em;
  float: right;
}
/*
.poem-line-count + l {
margin-top: 1em;
display: inline-block;
text-indent: 0em;
padding-left: 0
}*/
label + item {
  list-style: none;
}
list label {
  float: left;
}
list label:after {
  content: " ";
}
list[type="gloss"] > label {
  display: inline-block;
  font-weight: bold;
}
lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
lg[style*="text-align:center"],
lg[style*="text-align: center"] {
  text-align: left !important;
}
list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
p list {
  text-align: left;
}
item > list {
  margin-top: 0;
}
list label {
  display: inline-block;
  min-width: 1.5em;
}
list label + item {
  list-style-type: none;
  margin-left: 0em;
}
list label + item:after {
  content: "\A";
  white-space: pre;
}
/* Match only lists that are descendants of 
text. Otherwise they show up in the header. */
text list[type=simple] {
  list-style-type: none;
}
text list[type=simple] > item {
  margin-left: 0;
}
text list[type=bulleted] {
  list-style-type: disc;
}
text list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
  margin-left: 1em;
}
text list[type=ordered] label {
  display: none;
}
text list[type=ordered] > item {
  display: list-item;
  margin-left: 0;
}
text list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
text list[type=gloss],
text list[type=gloss] > item {
  list-style-type: none;
}
text div[type~="contents"] list item {
  padding-top: .5em;
}
text list item a[rend~="right"] {
  float: right;
}
text list[type=toc] {
  list-style: none;
  margin-bottom: 20px;
}
text list[type=toc] > item {
  list-style-type: none;
}
text list[type=toc] item {
  position: relative;
  background: url('http://5thirtyone.com/sandbox/share/toc/dot.gif') repeat-x bottom left;
  overflow: hidden;
  padding-bottom: 2px;
  margin-left: 0;
}
text list[type=toc] a,
text list[type=toc] label,
text list[type=toc] rs {
  display: inline-block;
  background: #edf3fa;
  position: relative;
  bottom: -4px;
}
text list[type=toc] a {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 0 3px 2px;
  width: 70px;
  border-bottom: 0;
  text-decoration: none;
}
text list[type=toc] label {
  background-color: #edf3fa;
  float: left;
  padding: 0 2px 3px 0;
}
text list[type=toc] rs {
  padding: 0 2px 3px 0;
}
text list item p:first-child {
  display: inline;
}
listBibl bibl {
  display: list-item;
  list-style: none;
  margin: .5em 0;
}
listBibl biblStruct {
  display: list-item;
  list-style: none;
  margin: .5em 0;
}
listBibl bibl:last-child,
listBibl biblStruct:last-child {
  padding-bottom: 1em;
}
/* m */
milestone {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
milestone:before {
  content: "* * * * *";
}
msContents .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
musicNotation {
  font-weight: bold;
}
musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
/* n */
node {
  display: none;
}
note {
  display: none;
}
note[place~="foot"],
note[place~="bottom"] {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 90%;
  padding: 2px 0;
  font-family: Arial, Verdana, sans-serif;
}
note[place~="foot"]:before,
note[place~="bottom"]:before {
  vertical-align: super;
  font-size: 70%;
  content: attr(data-tapas-note-num) "\00a0";
}
div[type="endnotes"]:before {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 1em;
  content: 'Endnotes: ';
  font-family: Arial, Verdana, sans-serif;
}
div[type="endnotes"] note {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 90%;
  font-family: Arial, Verdana, sans-serif;
}
.note-marker {
  vertical-align: super;
  font-size: 70%;
}
notesStmt {
  display: none;
}
/* o */
oVar {
  font-style: italic;
}
opener {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
opener placeName,
opener date {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
opener tapas_metadata {
  display: inline;
}
opener tapas_metadata:before {
  content: "\00000a";
  white-space: pre;
}
origPlace {
  font-weight: bold;
}
origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}
/* p */
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  /*text-align:justify;*/

}
*[rendition~="#center"] p {
  text-align: center;
}
availability > p:first-child {
  margin-top: 0em;
}
.pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
}
pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
}
/*
pb:before {
content: "page:\a0" attr(n);
}*/
performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
persName[ref] {
  border-bottom: 1px dotted #000000;
}
person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
div[type="poem"] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
postscript {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 2em;
}
principal {
  font-weight: bold;
}
principal:before {
  font-weight: bold;
  content: "Principal: ";
}
profileDesc {
  display: none;
}
provenance {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
docImprint pubPlace {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
publicationStmt > * {
  display: none;
}
publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
publicationStmt > date {
  display: none;
}
publicationStmt > publisher {
  display: none;
}
/* q */
q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q[next]:after,
q[prev]:before {
  content: "" !important;
}
quote {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
quote:before {
  content: open-quote;
}
quote:after {
  content: close-quote;
}
quote[next]:after,
quote[prev]:before {
  content: "" !important;
}
q l:first-child,
quote l:first-child {
  display: inline;
  padding-left: 0;
  text-indent: 0;
}
q l:last-child,
quote l:last-child {
  display: inline;
  padding-left: 0;
  text-indent: 0;
}
q lg:first-child,
quote lg:first-child {
  display: inline;
}
q p:last-child,
quote p:last-child {
  margin-bottom: 0;
  display: inline;
}
q p:first-child,
quote p:first-child {
  margin-top: 0;
  display: inline;
}
/* r */
re {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
recordHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.ref-external:link {
  border-bottom: 1px solid #333333;
  text-decoration: none;
}
.ref-note:link {
  border-bottom: 1px dotted #808080;
  text-decoration: none;
}
.ref-note:hover {
  border-bottom: 1px dotted #000000;
  text-decoration: none;
}
remarks {
  font-weight: bold;
}
remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
respStmt {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
bibl respStmt {
  display: inline;
}
revisionDesc {
  display: none;
}
row {
  display: table-row;
}
/* s */
/* When TEI document is embedded in HTML page, 
   TEI's <s> element can be interpreted by
   browser as HTML <s>, which results in 
   a strike-through from the "user agent"
   styles. */
s {
  text-decoration: none;
}
tapas_metadata {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
closer tapas_metadata {
  display: inline;
}
samplingDecl {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
scriptNote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
seal {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
seal:before {
  font-weight: bold;
  content: "Seal: ";
}
sealDesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
sense {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
seriesStmt {
  display: none;
}
setting {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
signed {
  display: inline-block;
  margin-top: 1.5em;
}
signed persName {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
closer signed:before {
  content: "\00000a";
  white-space: pre;
}
closer signed {
  margin-top: 0;
}
soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
soCalled:before {
  content: open-quote;
}
soCalled:after {
  content: close-quote;
}
soCalled[next]:after,
soCalled[prev]:before {
  content: "" !important;
}
sound {
  font-style: italic;
}
source {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
sourceDesc {
  display: none;
}
space:before {
  font-weight: bold;
  content: "";
}
TEI span {
  /* .hide; */

}
TEI egXML span {
  display: inline;
}
speaker {
  font-weight: bold;
  margin-right: 0;
}
sponsor {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
sponsor:before {
  font-weight: bold;
  content: "Sponsor: ";
}
stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}
stringVal {
  /* doesn't seem to be part of tei 5 */
}
superEntry {
  /* Block with space above and below, maybe have no block and space for <entry> when contained by this element */
}
surplus {
  display: none;
}
/* t */
#tapasToolbox {
  position: fixed;
  top: 20px;
  left: 720px;
  background: #FFF;
  padding: 5px 10px 8px;
  border: 1px solid #7681CE;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#tapasToolbox h1 {
  display: none;
}
#tapasToolbox label {
  display: inline;
  margin-right: .5em;
}
.toolboxinput {
  border: 1px solid #4d88cd;
  border-radius: 0px;
  background: #edf3fa;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0em;
  display: inline-block;
}
#tapasToolbox input[type=checkbox] {
  border: 1px solid #4d88cd;
  border-radius: 0px;
  background: #edf3fa;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0em;
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: normal;
  padding: 0;
  vertical-align: text-bottom;
}
#tapasToolbox input[type=checkbox]:checked {
  background: #337dd3;
}
#tapasToolbox input[type=select] {
  border: 1px solid #4d88cd;
  border-radius: 0px;
  background: #edf3fa;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0em;
  display: inline-block;
  padding: .25em;
}
TEI {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
table {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 2px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
table > head {
  text-align: center;
}
#tapas-ref-dialog {
  padding: 0.5em 1.25em 0.5em 0.5em;
  background: none;
  background-color: white;
  color: black;
  font-size: 13px;
}
#tapas-ref-dialog .tei-element {
  display: none;
}
#tapas-ref-dialog p {
  text-align: left;
}
#tapas-ref-dialog .ography-data {
  font-weight: bold;
}
#tapas-ref-dialog .ography title {
  display: inline;
}
#tei_contextual {
  display: none;
}
teiHeader {
  display: none;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #999;
}
TEI > text {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
textClass {
  display: none;
}
textDesc {
  display: none;
}
TEI teiHeader + tapas_metadata {
  display: none;
}
TEI tapas_metadata contributor,
TEI tapas_metadata rights,
TEI tapas_metadata source {
  display: none;
}
TEI tapas_metadata date,
TEI tapas_metadata creator {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* title */
/* Need TEI ancestor to distinguish TEI title from HTML title */
TEI title {
  display: inline;
}
TEI title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
TEI title[level=a]:before {
  content: open-quote;
}
TEI title[level=a]:after {
  content: close-quote;
}
TEI title[level=a][next]:after {
  content: "" !important;
}
TEI title[level=a][prev]:before {
  content: "" !important;
}
title[level=m] {
  font-style: italic;
}
/* We transformed teiHeader//title to tei.title  */
/* as a hack to solve a JavaScript/jQuery issue. */
titleStmt > tei-title {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
titleStmt > editor:before {
  content: "Edited by ";
}
titlePage argument,
titlePage byline,
titlePage cb,
titlePage docAuthor,
titlePage docDate,
titlePage docEdition,
titlePage docImprint,
titlePage docTitle,
titlePage epigraph,
titlePage figure,
titlePage gap,
titlePage imprimatur,
titlePage lb,
titlePage milestone,
titlePage note,
titlePage pb,
titlePage space,
titlePage titlePart {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
titlePage byline docAuthor {
  display: inline;
}
trailer {
  display: block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #333333;
}
typeDesc {
  display: none;
}
/* u */
u:before {
  content: "-";
}
.ui-widget-header {
  border: 0px;
  background: none;
}
.ui-dialog .ui-dialog-titlebar {
  font-size: 15px;
  min-height: 21px;
}
.ui-dialog .ui-dialog-titlebar-close {
  right: 0;
}
/* v */
view {
  font-style: italic;
}
/* w */
/* x */
/* z */
/* styles for html shell and html elements in TEI (e.g.,<a> and <img>) */
html > body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 13pt;
  line-height: 1.5;
  background-color: #edf3fa;
  color: #232936;
  width: 33em;
}
img {
  border: 1px solid #4d88cd;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #232936;
  padding-top: .5em;
  font-size: 12pt;
}
a:link,
a:visited,
a:active {
  color: #337dd3;
  text-decoration: none;
}
a:hover {
  color: #337dd3;
  text-decoration: underline;
}
#teibpToolbox {
  left: 56em;
  top: 25px;
  position: fixed;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #4d88cd;
  background: #faf3ed;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 12em;
}
#teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #4d88cd;
}
/* xml-serialization */
.eg-element {
  color: #0165c8;
}
.eg-comment {
  color: gray;
}
.eg-att,
.eg-nsdecl {
  color: #f58650;
}
.eg-attvalue,
.eg-ns {
  color: #993300;
}
.eg-text {
  color: #232936;
}
/* loading animation */
#loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
/* facsViewer */
#resizable {
  background-color: #edf3fa;
  width: 550px;
  height: 700px;
  overflow: hidden;
  padding: 0 1em .25em 0;
}
div.facsImage {
  width: 100%;
  height: 98%;
  overflow-y: scroll;
  border: 1px solid black;
}
div.facsImage img {
  max-width: 98% !important;
  margin-top: .5em;
}
div.facsImage img:first-child {
  margin-top: 0;
}
div#footer {
  width: 67%;
  text-align: center;
  border: dashed thin black;
  padding: 1ex 1ex 1ex 1ex;
  background-color: #d4dae0;
}
div#footer > p {
  text-align: center;
}
add {
  background: #ffff66;
}
add:hover:before {
  font-style: italic;
  content: "(Added by: " attr(hand) " ) ";
}
choice orig,
choice sic,
choice abbr,
supplied,
gap {
  border-bottom: 1px dotted #000000;
}
choice reg,
choice corr,
choice expan {
  border: 1px solid #cccccc;
  display: none;
  padding: 5px;
  background: #ffffff;
}
choice:hover reg,
choice:hover corr,
choice:hover expan,
add:hover,
supplied:hover,
gap:hover,
unclear:hover {
  display: inline;
}
choice abbr + expan:after,
choice expan + abbr:after,
choice sic + corr:after,
choice corr + sic:after,
choice orig + reg:after,
choice reg + orig:after,
choice abbr + expan:before,
choice expan + abbr:before,
choice sic + corr:before,
choice corr + sic:before,
choice orig + reg:before,
choice reg + orig:before {
  content: "";
}
del {
  text-decoration: line-through;
}
gap[reason]:after,
gap[extent]:after,
gap[quantity]:after,
gap:after {
  font-style: italic;
}
gap[reason]:after {
  content: "(Gap reason: " attr(reason) ")]";
}
gap[extent]:after {
  content: "(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]";
}
gap[quantity]:after {
  content: "(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]";
}
gap:after {
  content: "(Unclear text)]";
}
.head-font {
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
}
lb:after {
  content: '\a';
  white-space: pre;
}
milestone {
  background: #cccccc;
}
milestone[n]:before,
milestone[unit]:before,
milestone:before {
  font-style: italic;
}
milestone[n]:before {
  content: attr(n);
}
milestone[unit]:before {
  content: attr(unit) " " attr(n);
}
milestone:before {
  content: ;
}
subst {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #cccccc;
}
supplied:before,
gap:before {
  content: "[";
}
supplied:after,
gap:after {
  content: "]";
}
supplied:hover:before {
  content: "[(Text supplied: " attr(reason) ") ";
}
unclear {
  padding-bottom: 5px;
  border-bottom: 2px dotted #808080;
  background: #3399ff;
}
unclear[reason]:hover:before {
  font-style: italic;
  content: " (Unclear text: " attr(reason) ") ";
}
unclear:hover:before {
  font-style: italic;
  content: " (Unclear text) ";
}
.-teibp-pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
  border-bottom: 2px dotted #808080;
  bordet-top: 2px dotted #808080;
}
.-teibp-pb a:hover {
  text-decoration: none;
  color: #808080;
}
.-teibp-pb a:before {
  font-style: italic;
  content: "Page " attr(data-tapas-n);
}
.-teibp-pb a.gallery-facs:before {
  content: " ";
}
.-teibp-thumbnail {
  padding: 15px;
}
