@import "common.less";
@body-font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
@body-font-size: 14pt;
@background-color:#EDF3FA;
@color:#232936;
@link-color:#27568C;
@border-color:#4D88CD;
@note-background-color:#FAF3ED;
@unstyled-background-color:blue;
@unstyled-foreground-color:red;
@hoverunderline: 1px dotted #000000;
@noteborder: 1px solid #CCCCCC;
@whitebackground: #FFFFFF;
@boxpadding: 5px;

.head-font {
font-family: Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
font-weight: normal;
}

choice reg, choice corr, choice expan {
border-bottom: @hoverunderline;
}

choice orig, choice sic, choice abbr {
border: @noteborder;
display: none;
padding: @boxpadding;
background: @whitebackground;
}

choice:hover orig, choice:hover sic, choice:hover abbr, gap:hover {
display: inline;
}

del, subst del {
display: none;
}

gap {
border-bottom: @hoverunderline;
}

gap:before {
content: "[";
}

gap:after {
content: "]";
}

gap[reason]:after, gap[extent]:after, gap[quantity]:after, gap:after {
font-style: italic;
}

gap[reason]:after {
content: "(Gap reason: " attr(reason) ")]";
}
gap[extent]:after {
content: "(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]";
}
gap[quantity]:after {
content: "(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]";
}
gap:after {
content: "(Unclear text)]";
}

choice abbr + expan:after,
choice expan + abbr:after,
choice sic + corr:after,
choice corr + sic:after,
choice orig + reg:after,
choice reg + orig:after,
choice abbr + expan:before,
choice expan + abbr:before,
choice sic + corr:before,
choice corr + sic:before,
choice orig + reg:before,
choice reg + orig:before {
  content: "";
}

fw {
display: none;
}