@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
body {
  margin: 0;
}
/* Less variables */
.tapas-generic {
  /* teibp classes */
  /* Choice elements */
  /* A */
  /* add */
  /* B */
  /* c */
  /* for cell or row with @role = label */
  /* For things like collation, condition, etc. that can have text or paragraphs as
	children, we should use margins, when the content is text, and no margins when there
	are child paragraphs (or other block elements). Otherwise we end up with double
	margins. */
  /* Need to discuss and coordinate handling of sic/corr, abbr/expan, and orig/reg */
  /*
	Need to handle attributes for custEvent. All the att.datable* attributes will be tricky.
	custodialHist and custEvent may normally be hidden along with other header metadata, but
	we'll have other datable elements that may be tricky. */
  /* d */
  /* e */
  /* f */
  /* g */
  /* h */
  /* Need head with TEI parent to distinguish from HTML head */
  /* i */
  /* j */
  /* k */
  /* l */
  /*
	.poem-line-count + l {
	margin-top: 1em;
	display: inline-block;
	text-indent: 0em;
	padding-left: 0
	}*/
  /* Match only lists that are descendants of
	text. Otherwise they show up in the header. */
  /* m */
  /* n */
  /* o */
  /* p */
  /*
	pb:before {
	content: "page:\a0" attr(n);
	}*/
  /* q */
  /* r */
  /* s */
  /* When TEI document is embedded in HTML page,
	   TEI's <s> element can be interpreted by
	   browser as HTML <s>, which results in
	   a strike-through from the "user agent"
	   styles. */
  /* t */
  /* title */
  /* Need TEI ancestor to distinguish TEI title from HTML title */
  /* We transformed teiHeader//title to tei.title  */
  /* as a hack to solve a JavaScript/jQuery issue. */
  /* u */
  /* v */
  /* w */
  /* x */
  /* z */
  /* styles for html shell and html elements in TEI (e.g.,<a> and <img>) */
  /* xml-serialization */
  /* loading animation */
  /* facsViewer */
}
.tapas-generic .block {
  display: block;
}
.tapas-generic .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic .hide {
  display: none;
}
.tapas-generic .inline {
  display: inline;
}
.tapas-generic .list-item {
  display: list-item;
}
.tapas-generic .italic {
  font-style: italic;
}
.tapas-generic .mono {
  font-family: Courier,monospace;
}
.tapas-generic .box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.tapas-generic .note-like {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #4d88cd;
  background: #faf3ed;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.tapas-generic .quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.tapas-generic .quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.tapas-generic .quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.tapas-generic .-teibp-thumbnail {
  max-height: 60px;
}
.tapas-generic .-teibp-pbFacs {
  display: none;
}
.tapas-generic .page-setup {
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 13pt;
  line-height: 1.5;
  background-color: #edf3fa;
  color: #232936;
  width: 33em;
}
.tapas-generic .table-border {
  border: 1px dotted #333333;
}
.tapas-generic choice abbr + expan:before,
.tapas-generic choice expan + abbr:before,
.tapas-generic choice sic + corr:before,
.tapas-generic choice corr + sic:before,
.tapas-generic choice orig + reg:before,
.tapas-generic choice reg + orig:before {
  content: " (";
}
.tapas-generic choice abbr + expan:after,
.tapas-generic choice expan + abbr:after,
.tapas-generic choice sic + corr:after,
.tapas-generic choice corr + sic:after,
.tapas-generic choice orig + reg:after,
.tapas-generic choice reg + orig:after {
  content: ")";
}
.tapas-generic a[rend~="super"] {
  vertical-align: super;
  font-size: 70%;
}
.tapas-generic a.ref-not-found,
.tapas-generic .ptr-not-found,
.tapas-generic [class$="-not-found"] {
  text-decoration: none;
  color: inherit;
  pointer: text;
}
.tapas-generic ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic accMat {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic accMat:before {
  content: "accompanying materials: ";
}
.tapas-generic acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
.tapas-generic activity {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic activity:before {
  content: "activity: ";
}
.tapas-generic add {
  vertical-align: super;
  font-size: 90%;
}
.tapas-generic add[place=below] {
  vertical-align: sub;
  font-size: 90%;
}
.tapas-generic additional {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic additions {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic additions:before {
  content: "Significant additions within the document: ";
}
.tapas-generic addrLine {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic address[rend~="block"],
.tapas-generic addresss[rendition~="#block"] {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic adminInfo {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic altIdentifier {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic altIdentifier:before {
  content: "Alternate ID: ";
}
.tapas-generic app {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic appInfo {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic appInfo:before {
  content: "Application information: ";
}
.tapas-generic application {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic application:after {
  content: " " attr(version);
}
.tapas-generic argument {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic att {
  font-family: Courier,monospace;
  line-height: normal;
}
.tapas-generic att:before {
  content: "@";
}
.tapas-generic titleStmt > author {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
  margin-bottom: 1em;
}
.tapas-generic publicationStmt > availability {
  font-size: 80%;
}
.tapas-generic publicationStmt > availability:before {
  font-weight: bold;
  content: "Availability: ";
}
.tapas-generic publicationStmt > availability[status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
.tapas-generic back {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic epigraph bibl:before {
  content: "\2014";
}
.tapas-generic bibl[rend~="block"],
.tapas-generic bibl[rendition~="#block"] {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  text-indent: -2em;
}
.tapas-generic bibl title {
  font-style: italic;
}
.tapas-generic biblFull {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic binding {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic binding:before {
  content: "Binding: \A";
  white-space: pre-wrap;
}
.tapas-generic binding[contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
.tapas-generic bindingDesc {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic bindngDesc:before {
  content: "Binding Description: \A";
}
.tapas-generic birth {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic birth:before {
  content: "Birth: ";
}
.tapas-generic body {
  color: inherit;
  background-color: inherit;
}
.tapas-generic byline {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic cRefPattern {
  display: none;
}
.tapas-generic caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic case[value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
.tapas-generic castGroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic castItem {
  display: list-item;
  list-style-type: none;
}
.tapas-generic castlist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.tapas-generic cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic cb:before {
  content: "[column break]";
  color: gray;
}
.tapas-generic cell {
  display: table-cell;
  padding: 1em 1.5em 1em 1em;
  border: 1px dotted #333333;
}
.tapas-generic [role=label] {
  font-weight: bold;
}
.tapas-generic climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic climate:before {
  font-weight: bold;
  content: "Climate: ";
}
.tapas-generic closer {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #333333;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic code {
  font-family: Courier,monospace;
}
.tapas-generic collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic colophon {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
.tapas-generic constitution[type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic constitution[type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
.tapas-generic constitution[type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic constitution[type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
.tapas-generic custEvent {
  display: list-item;
}
.tapas-generic custodialHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic [data-tapas-hashed-ref] {
  border-bottom: 1px dotted #000000;
}
.tapas-generic date[when]:empty:before {
  content: attr(when);
}
.tapas-generic dateline {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic docDate {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic docEdition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic docImprint {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic docTitle {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic egXML {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #4d88cd;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
.tapas-generic emph {
  font-style: italic;
}
.tapas-generic encodingDesc {
  display: none;
}
.tapas-generic epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1em;
}
.tapas-generic fileDesc > extent {
  display: none;
}
.tapas-generic figure {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.tapas-generic gap {
  /* GLS: Depending upon how we handle gap and lacuna, we may want to enclose in [] */
}
.tapas-generic gi {
  font-family: Courier,monospace;
}
.tapas-generic gi:before {
  content: "<";
}
.tapas-generic gi:after {
  content: ">";
}
.tapas-generic graphic {
  display: none;
}
.tapas-generic TEI head {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
}
.tapas-generic TEI text front > head,
.tapas-generic TEI text body > head,
.tapas-generic TEI text back > head {
  margin-bottom: 1em;
}
.tapas-generic body > head {
  font-size: 140%;
}
.tapas-generic div > head {
  font-size: 135%;
}
.tapas-generic div > div > head {
  font-size: 130%;
}
.tapas-generic div > div > div > head {
  font-size: 125%;
}
.tapas-generic div > div > div > div > head,
.tapas-generic list > head {
  font-size: 120%;
}
.tapas-generic div > div > div > div > div > head {
  font-size: 115%;
}
.tapas-generic div > div > div > div > div > div head {
  font-size: 110%;
}
.tapas-generic figure > head {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #4d88cd;
  background: #faf3ed;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 13pt;
}
.tapas-generic div[type="canto"] head {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.tapas-generic div head[type="sub"] {
  font-size: 115%;
}
.tapas-generic div[type="chapter"] > head {
  text-align: center;
  margin-bottom: 1em;
}
.tapas-generic div[type="half_title"] > head {
  text-align: center;
  padding: 1em;
  border: 1px dashed lightgray;
}
.tapas-generic head[type="supplied"] {
  display: none;
}
.tapas-generic ident {
  font-family: Courier,monospace;
}
.tapas-generic item {
  display: list-item;
}
.tapas-generic list item {
  margin-left: 1em;
  margin-top: .125em;
  margin-bottom: .25em;
}
.tapas-generic cell item {
  margin-left: 1em;
}
.tapas-generic l {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /*padding-left:2em;
	text-indent:-2em;*/
}
.tapas-generic .poem-line-count {
  font-size: 80%;
  display: inline-block;
  min-width: 1.5em;
  float: right;
}
.tapas-generic label + item {
  list-style: none;
}
.tapas-generic list label {
  float: left;
}
.tapas-generic list label:after {
  content: " ";
}
.tapas-generic list[type="gloss"] > label {
  display: inline-block;
  font-weight: bold;
}
.tapas-generic lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic lg[style*="text-align:center"],
.tapas-generic lg[style*="text-align: center"] {
  text-align: left !important;
}
.tapas-generic list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic p list {
  text-align: left;
}
.tapas-generic item > list {
  margin-top: 0;
}
.tapas-generic list label {
  display: inline-block;
  min-width: 1.5em;
}
.tapas-generic list label + item {
  list-style-type: none;
  margin-left: 0em;
}
.tapas-generic list label + item:after {
  content: "\A";
  white-space: pre;
}
.tapas-generic text list[type=simple] {
  list-style-type: none;
}
.tapas-generic text list[type=simple] > item {
  margin-left: 0;
}
.tapas-generic text list[type=bulleted] {
  list-style-type: disc;
}
.tapas-generic text list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
  margin-left: 1em;
}
.tapas-generic text list[type=ordered] label {
  display: none;
}
.tapas-generic text list[type=ordered] > item {
  display: list-item;
  margin-left: 0;
}
.tapas-generic text list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
.tapas-generic text list[type=gloss],
.tapas-generic text list[type=gloss] > item {
  list-style-type: none;
}
.tapas-generic text div[type~="contents"] list item {
  padding-top: .5em;
}
.tapas-generic text list item a[rend~="right"] {
  float: right;
}
.tapas-generic text list[type=toc] {
  list-style: none;
  margin-bottom: 20px;
}
.tapas-generic text list[type=toc] > item {
  list-style-type: none;
}
.tapas-generic text list[type=toc] item {
  position: relative;
  background: url('http://5thirtyone.com/sandbox/share/toc/dot.gif') repeat-x bottom left;
  overflow: hidden;
  padding-bottom: 2px;
  margin-left: 0;
}
.tapas-generic text list[type=toc] a,
.tapas-generic text list[type=toc] label,
.tapas-generic text list[type=toc] rs {
  display: inline-block;
  background: #edf3fa;
  position: relative;
  bottom: -4px;
}
.tapas-generic text list[type=toc] a {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 0 3px 2px;
  width: 70px;
  border-bottom: 0;
  text-decoration: none;
}
.tapas-generic text list[type=toc] label {
  background-color: #edf3fa;
  float: left;
  padding: 0 2px 3px 0;
}
.tapas-generic text list[type=toc] rs {
  padding: 0 2px 3px 0;
}
.tapas-generic text list item p:first-child {
  display: inline;
}
.tapas-generic listBibl bibl {
  display: list-item;
  list-style: none;
  margin: .5em 0;
}
.tapas-generic listBibl biblStruct {
  display: list-item;
  list-style: none;
  margin: .5em 0;
}
.tapas-generic listBibl bibl:last-child,
.tapas-generic listBibl biblStruct:last-child {
  padding-bottom: 1em;
}
.tapas-generic milestone {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.tapas-generic milestone:before {
  content: "* * * * *";
}
.tapas-generic msContents .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic musicNotation {
  font-weight: bold;
}
.tapas-generic musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
.tapas-generic node {
  display: none;
}
.tapas-generic note {
  display: none;
}
.tapas-generic note[place~="foot"],
.tapas-generic note[place~="bottom"] {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 90%;
  padding: 2px 0;
  font-family: Arial, Verdana, sans-serif;
}
.tapas-generic note[place~="foot"]:before,
.tapas-generic note[place~="bottom"]:before {
  vertical-align: super;
  font-size: 70%;
  content: attr(data-tapas-note-num) "\00a0";
}
.tapas-generic div[type="endnotes"]:before {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 1em;
  content: 'Endnotes: ';
  font-family: Arial, Verdana, sans-serif;
}
.tapas-generic div[type="endnotes"] note {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 90%;
  font-family: Arial, Verdana, sans-serif;
}
.tapas-generic .note-marker {
  vertical-align: super;
  font-size: 70%;
}
.tapas-generic notesStmt {
  display: none;
}
.tapas-generic oVar {
  font-style: italic;
}
.tapas-generic opener {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic opener placeName,
.tapas-generic opener date {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic opener tapas_metadata {
  display: inline;
}
.tapas-generic opener tapas_metadata:before {
  content: "\00000a";
  white-space: pre;
}
.tapas-generic origPlace {
  font-weight: bold;
}
.tapas-generic origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}
.tapas-generic p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  /*text-align:justify;*/
}
.tapas-generic *[rendition~="#center"] p {
  text-align: center;
}
.tapas-generic availability > p:first-child {
  margin-top: 0em;
}
.tapas-generic .pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
}
.tapas-generic pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
}
.tapas-generic performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic persName[ref] {
  border-bottom: 1px dotted #000000;
}
.tapas-generic person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic div[type="poem"] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic postscript {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 2em;
}
.tapas-generic principal {
  font-weight: bold;
}
.tapas-generic principal:before {
  font-weight: bold;
  content: "Principal: ";
}
.tapas-generic profileDesc {
  display: none;
}
.tapas-generic provenance {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic docImprint pubPlace {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic publicationStmt > * {
  display: none;
}
.tapas-generic publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic publicationStmt > date {
  display: none;
}
.tapas-generic publicationStmt > publisher {
  display: none;
}
.tapas-generic q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.tapas-generic q:before {
  content: open-quote;
}
.tapas-generic q:after {
  content: close-quote;
}
.tapas-generic q[next]:after,
.tapas-generic q[prev]:before {
  content: "" !important;
}
.tapas-generic quote {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic quote:before {
  content: open-quote;
}
.tapas-generic quote:after {
  content: close-quote;
}
.tapas-generic quote[next]:after,
.tapas-generic quote[prev]:before {
  content: "" !important;
}
.tapas-generic q l:first-child,
.tapas-generic quote l:first-child {
  display: inline;
  padding-left: 0;
  text-indent: 0;
}
.tapas-generic q l:last-child,
.tapas-generic quote l:last-child {
  display: inline;
  padding-left: 0;
  text-indent: 0;
}
.tapas-generic q lg:first-child,
.tapas-generic quote lg:first-child {
  display: inline;
}
.tapas-generic q p:last-child,
.tapas-generic quote p:last-child {
  margin-bottom: 0;
  display: inline;
}
.tapas-generic q p:first-child,
.tapas-generic quote p:first-child {
  margin-top: 0;
  display: inline;
}
.tapas-generic re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic recordHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic .ref-external:link {
  border-bottom: 1px solid #333333;
  text-decoration: none;
}
.tapas-generic .ref-note:link {
  border-bottom: 1px dotted #808080;
  text-decoration: none;
}
.tapas-generic .ref-note:hover {
  border-bottom: 1px dotted #000000;
  text-decoration: none;
}
.tapas-generic remarks {
  font-weight: bold;
}
.tapas-generic remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
.tapas-generic respStmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic bibl respStmt {
  display: inline;
}
.tapas-generic revisionDesc {
  display: none;
}
.tapas-generic row {
  display: table-row;
}
.tapas-generic s {
  text-decoration: none;
}
.tapas-generic tapas_metadata {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic closer tapas_metadata {
  display: inline;
}
.tapas-generic samplingDecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic scriptNote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic seal:before {
  font-weight: bold;
  content: "Seal: ";
}
.tapas-generic sealDesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
.tapas-generic sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic seriesStmt {
  display: none;
}
.tapas-generic setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic signed {
  display: inline-block;
  margin-top: 1.5em;
}
.tapas-generic signed persName {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic closer signed:before {
  content: "\00000a";
  white-space: pre;
}
.tapas-generic closer signed {
  margin-top: 0;
}
.tapas-generic soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.tapas-generic soCalled:before {
  content: open-quote;
}
.tapas-generic soCalled:after {
  content: close-quote;
}
.tapas-generic soCalled[next]:after,
.tapas-generic soCalled[prev]:before {
  content: "" !important;
}
.tapas-generic sound {
  font-style: italic;
}
.tapas-generic source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic sourceDesc {
  display: none;
}
.tapas-generic space:before {
  font-weight: bold;
  content: "";
}
.tapas-generic TEI span {
  /* .hide; */
}
.tapas-generic TEI egXML span {
  display: inline;
}
.tapas-generic speaker {
  font-weight: bold;
  margin-right: 0;
}
.tapas-generic sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic sponsor:before {
  font-weight: bold;
  content: "Sponsor: ";
}
.tapas-generic stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
.tapas-generic stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tapas-generic stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}
.tapas-generic stringVal {
  /* doesn't seem to be part of tei 5 */
}
.tapas-generic superEntry {
  /* Block with space above and below, maybe have no block and space for <entry> when contained by this element */
}
.tapas-generic surplus {
  display: none;
}
.tapas-generic #tapasToolbox {
  position: fixed;
  top: 20px;
  left: 720px;
  background: #FFF;
  padding: 5px 10px 8px;
  border: 1px solid #7681CE;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tapas-generic #tapasToolbox h1 {
  display: none;
}
.tapas-generic #tapasToolbox label {
  display: inline;
  margin-right: .5em;
}
.tapas-generic .toolboxinput {
  border: 1px solid #4d88cd;
  border-radius: 0px;
  background: #edf3fa;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0em;
  display: inline-block;
}
.tapas-generic #tapasToolbox input[type=checkbox] {
  border: 1px solid #4d88cd;
  border-radius: 0px;
  background: #edf3fa;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0em;
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: normal;
  padding: 0;
  vertical-align: text-bottom;
}
.tapas-generic #tapasToolbox input[type=checkbox]:checked {
  background: #337dd3;
}
.tapas-generic #tapasToolbox input[type=select] {
  border: 1px solid #4d88cd;
  border-radius: 0px;
  background: #edf3fa;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0em;
  display: inline-block;
  padding: .25em;
}
.tapas-generic TEI {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic table {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 2px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
.tapas-generic table > head {
  text-align: center;
}
.tapas-generic #tapas-ref-dialog {
  padding: 0.5em 1.25em 0.5em 0.5em;
  background: none;
  background-color: white;
  color: black;
  font-size: 13px;
}
.tapas-generic #tapas-ref-dialog .tei-element {
  display: none;
}
.tapas-generic #tapas-ref-dialog p {
  text-align: left;
}
.tapas-generic #tapas-ref-dialog .ography-data {
  font-weight: bold;
}
.tapas-generic #tapas-ref-dialog .ography title {
  display: inline;
}
.tapas-generic #tei_contextual {
  display: none;
}
.tapas-generic teiHeader {
  display: none;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #999;
}
.tapas-generic TEI > text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic textClass {
  display: none;
}
.tapas-generic textDesc {
  display: none;
}
.tapas-generic TEI teiHeader + tapas_metadata {
  display: none;
}
.tapas-generic TEI tapas_metadata contributor,
.tapas-generic TEI tapas_metadata rights,
.tapas-generic TEI tapas_metadata source {
  display: none;
}
.tapas-generic TEI tapas_metadata date,
.tapas-generic TEI tapas_metadata creator {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic TEI title {
  display: inline;
}
.tapas-generic TEI title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.tapas-generic TEI title[level=a]:before {
  content: open-quote;
}
.tapas-generic TEI title[level=a]:after {
  content: close-quote;
}
.tapas-generic TEI title[level=a][next]:after {
  content: "" !important;
}
.tapas-generic TEI title[level=a][prev]:before {
  content: "" !important;
}
.tapas-generic title[level=m] {
  font-style: italic;
}
.tapas-generic titleStmt > tei-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
.tapas-generic titleStmt > editor:before {
  content: "Edited by ";
}
.tapas-generic titlePage argument,
.tapas-generic titlePage byline,
.tapas-generic titlePage cb,
.tapas-generic titlePage docAuthor,
.tapas-generic titlePage docDate,
.tapas-generic titlePage docEdition,
.tapas-generic titlePage docImprint,
.tapas-generic titlePage docTitle,
.tapas-generic titlePage epigraph,
.tapas-generic titlePage figure,
.tapas-generic titlePage gap,
.tapas-generic titlePage imprimatur,
.tapas-generic titlePage lb,
.tapas-generic titlePage milestone,
.tapas-generic titlePage note,
.tapas-generic titlePage pb,
.tapas-generic titlePage space,
.tapas-generic titlePage titlePart {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.tapas-generic titlePage byline docAuthor {
  display: inline;
}
.tapas-generic trailer {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #333333;
}
.tapas-generic typeDesc {
  display: none;
}
.tapas-generic u:before {
  content: "-";
}
.tapas-generic .ui-widget-header {
  border: 0px;
  background: none;
}
.tapas-generic .ui-dialog .ui-dialog-titlebar {
  font-size: 15px;
  min-height: 21px;
}
.tapas-generic .ui-dialog .ui-dialog-titlebar-close {
  right: 0;
}
.tapas-generic view {
  font-style: italic;
}
.tapas-generic html > body {
  margin: 0;
  padding: 0;
}
.tapas-generic html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-size: 13pt;
  line-height: 1.5;
  background-color: #edf3fa;
  color: #232936;
  width: 33em;
}
.tapas-generic img {
  border: 1px solid #4d88cd;
}
.tapas-generic footer {
  margin-top: 1em;
  border-top: 1px solid #232936;
  padding-top: .5em;
  font-size: 12pt;
}
.tapas-generic a:link,
.tapas-generic a:visited,
.tapas-generic a:active {
  color: #337dd3;
  text-decoration: none;
}
.tapas-generic a:hover {
  color: #337dd3;
  text-decoration: underline;
}
.tapas-generic #teibpToolbox {
  left: 56em;
  top: 25px;
  position: fixed;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #4d88cd;
  background: #faf3ed;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 12em;
}
.tapas-generic #teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #4d88cd;
}
.tapas-generic .eg-element {
  color: #0165c8;
}
.tapas-generic .eg-comment {
  color: gray;
}
.tapas-generic .eg-att,
.tapas-generic .eg-nsdecl {
  color: #f58650;
}
.tapas-generic .eg-attvalue,
.tapas-generic .eg-ns {
  color: #993300;
}
.tapas-generic .eg-text {
  color: #232936;
}
.tapas-generic #loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
.tapas-generic #resizable {
  background-color: #edf3fa;
  width: 550px;
  height: 700px;
  overflow: hidden;
  padding: 0 1em .25em 0;
}
.tapas-generic div.facsImage {
  width: 100%;
  height: 98%;
  overflow-y: scroll;
  border: 1px solid black;
}
.tapas-generic div.facsImage img {
  max-width: 98% !important;
  margin-top: .5em;
}
.tapas-generic div.facsImage img:first-child {
  margin-top: 0;
}
.tapas-generic div#footer {
  width: 67%;
  text-align: center;
  border: dashed thin black;
  padding: 1ex 1ex 1ex 1ex;
  background-color: #d4dae0;
}
.tapas-generic div#footer > p {
  text-align: center;
}
.tapas-generic add {
  background: #ffff66;
}
.tapas-generic add:hover:before {
  font-style: italic;
  content: "(Added by: " attr(hand) " ) ";
}
.tapas-generic choice orig,
.tapas-generic choice sic,
.tapas-generic choice abbr,
.tapas-generic supplied,
.tapas-generic gap {
  border-bottom: 1px dotted #000000;
}
.tapas-generic choice reg,
.tapas-generic choice corr,
.tapas-generic choice expan {
  border: 1px solid #cccccc;
  display: none;
  padding: 5px;
  background: #ffffff;
}
.tapas-generic choice:hover reg,
.tapas-generic choice:hover corr,
.tapas-generic choice:hover expan,
.tapas-generic add:hover,
.tapas-generic supplied:hover,
.tapas-generic gap:hover,
.tapas-generic unclear:hover {
  display: inline;
}
.tapas-generic choice abbr + expan:after,
.tapas-generic choice expan + abbr:after,
.tapas-generic choice sic + corr:after,
.tapas-generic choice corr + sic:after,
.tapas-generic choice orig + reg:after,
.tapas-generic choice reg + orig:after,
.tapas-generic choice abbr + expan:before,
.tapas-generic choice expan + abbr:before,
.tapas-generic choice sic + corr:before,
.tapas-generic choice corr + sic:before,
.tapas-generic choice orig + reg:before,
.tapas-generic choice reg + orig:before {
  content: "";
}
.tapas-generic del {
  text-decoration: line-through;
}
.tapas-generic gap[reason]:after,
.tapas-generic gap[extent]:after,
.tapas-generic gap[quantity]:after,
.tapas-generic gap:after {
  font-style: italic;
}
.tapas-generic gap[reason]:after {
  content: "(Gap reason: " attr(reason) ")]";
}
.tapas-generic gap[extent]:after {
  content: "(Gap of " attr(extent) " " attr(unit) "; reason: " attr(reason) ")]";
}
.tapas-generic gap[quantity]:after {
  content: "(Gap of " attr(quantity) " " attr(unit) "; reason: " attr(reason) ")]";
}
.tapas-generic gap:after {
  content: "(Unclear text)]";
}
.tapas-generic .head-font {
  font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  font-weight: normal;
}
.tapas-generic lb:after {
  content: '\a';
  white-space: pre;
}
.tapas-generic milestone {
  background: #cccccc;
}
.tapas-generic milestone[n]:before,
.tapas-generic milestone[unit]:before,
.tapas-generic milestone:before {
  font-style: italic;
}
.tapas-generic milestone[n]:before {
  content: attr(n);
}
.tapas-generic milestone[unit]:before {
  content: attr(unit) " " attr(n);
}
.tapas-generic milestone:before {
  content: ;
}
.tapas-generic subst {
  background: #ffffff;
  padding: 5px;
  border: 1px solid #cccccc;
}
.tapas-generic supplied:before,
.tapas-generic gap:before {
  content: "[";
}
.tapas-generic supplied:after,
.tapas-generic gap:after {
  content: "]";
}
.tapas-generic supplied:hover:before {
  content: "[(Text supplied: " attr(reason) ") ";
}
.tapas-generic unclear {
  padding-bottom: 5px;
  border-bottom: 2px dotted #808080;
  background: #3399ff;
}
.tapas-generic unclear[reason]:hover:before {
  font-style: italic;
  content: " (Unclear text: " attr(reason) ") ";
}
.tapas-generic unclear:hover:before {
  font-style: italic;
  content: " (Unclear text) ";
}
.tapas-generic .-teibp-pb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 1em 0;
  font-size: 11pt;
  border-bottom: 2px dotted #808080;
  border-top: 2px dotted #808080;
}
.tapas-generic .-teibp-pb a:hover {
  text-decoration: none;
  color: #808080;
}
.tapas-generic .-teibp-pb a:before {
  font-style: italic;
  content: "Page " attr(data-tei-n);
}
.tapas-generic .-teibp-pb a.gallery-facs:before {
  content: " ";
}
.tapas-generic .-teibp-thumbnail {
  padding: 15px;
}
