/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.sleepytime {
  /* US Style Quotes */
  /* UK-Style Quotes */
  /* Choice elements */
  /* A */
  /* add */
  /* Could add other [place=] variations */
  /* B */
  /* c */
  /* for cell or row with @role = label */
  /* jawalsh:
	For things like collation, condition, etc. that can have text or paragraphs as
	children, we should use margins, when the content is text, and no margins when there
	are child paragraphs (or other block elements). Otherwise we end up with double
	margins. */
  /* jawalsh:
	Need to discuss and coordinate handling of sic/corr, abbr/expan, and orig/reg */
  /*jawalsh:
	Need to handle attributes for custEvent. All the att.datable* attributes will be tricky.
	custodialHist and custEvent may normally be hidden along with other header metadata, but
	we'll have other datable elements that may be tricky. */
  /* d */
  /* e */
  /* f */
  /* g */
  /* h */
  /* Need head with TEI parent to distinguish from HTML head */
  /* i */
  /* j */
  /* k */
  /* l */
  /* Match only lists that are descendants of
	text. Otherwise they show up in the header. */
  /* m */
  /* n */
  /* o */
  /* p */
  /*
	pb:before {
		content: "[page:\a0" attr(n) "]";
	}
	*/
  /* q */
  /* r */
  /* hide */
  /*label*/
  /* s */
  /* When TEI document is embedded in HTML page,
	   TEI's <s> element can be interpreted by
	   browser as HTML <s>, which results in
	   a strike-through from the "user agent"
	   styles. */
  /* t */
  /* Why is this selector "TEI table" instead of just "table"? */
  /* title */
  /* Need TEI ancestor to distinguish TEI title from HTML title */
  /* u */
  /* v */
  /* w */
  /* x */
  /* z */
}
.teibp.sleepytime .note-like {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.sleepytime .quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepytime .quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.teibp.sleepytime .quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepytime .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime .hide {
  display: none;
}
.teibp.sleepytime .mono {
  font-family: Courier,monospace;
}
.teibp.sleepytime .table-border {
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #444444;
}
.teibp.sleepytime choice abbr + expan:before,
.teibp.sleepytime choice expan + abbr:before,
.teibp.sleepytime choice sic + corr:before,
.teibp.sleepytime choice corr + sic:before,
.teibp.sleepytime choice orig + reg:before,
.teibp.sleepytime choice reg + orig:before {
  content: " (";
}
.teibp.sleepytime choice abbr + expan:after,
.teibp.sleepytime choice expan + abbr:after,
.teibp.sleepytime choice sic + corr:after,
.teibp.sleepytime choice corr + sic:after,
.teibp.sleepytime choice orig + reg:after,
.teibp.sleepytime choice reg + orig:after {
  content: ")";
}
.teibp.sleepytime ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime accMat {
  display: block;
}
.teibp.sleepytime accMat:before {
  content: "accompanying materials: ";
}
.teibp.sleepytime acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
.teibp.sleepytime activity {
  display: block;
}
.teibp.sleepytime activity:before {
  content: "activity: ";
}
.teibp.sleepytime actor {
  /* Empty Rule Set */
}
.teibp.sleepytime add {
  vertical-align: super;
}
.teibp.sleepytime add[place=below] {
  vertical-align: sub;
}
.teibp.sleepytime addName {
  /* Empty Rule Set */
}
.teibp.sleepytime addSpan {
  /* Empty Rule Set */
}
.teibp.sleepytime additional {
  display: block;
}
.teibp.sleepytime additions {
  display: block;
}
.teibp.sleepytime additions:before {
  content: "Significant additions within the document: ";
}
.teibp.sleepytime addrLine {
  display: block;
}
.teibp.sleepytime address {
  /* Empty Rule Set */
}
.teibp.sleepytime address[rend~="block"],
.teibp.sleepytime addresss[rendition~="#block"] {
  display: block;
}
.teibp.sleepytime adminInfo {
  display: block;
}
.teibp.sleepytime affiliation {
  /* Empty Rule Set */
}
.teibp.sleepytime age {
  /* Empty Rule Set */
}
.teibp.sleepytime alt {
  /* Empty Rule Set */
}
.teibp.sleepytime altGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime altIdent {
  /* Empty Rule Set */
}
.teibp.sleepytime altIdentifier {
  display: block;
}
.teibp.sleepytime altIdentifier:before {
  content: "Alternate ID: ";
}
.teibp.sleepytime am {
  /* Empty Rule Set */
}
.teibp.sleepytime analytic {
  /* Empty Rule Set */
}
.teibp.sleepytime anchor {
  /* Empty Rule Set */
}
.teibp.sleepytime app {
  display: block;
}
.teibp.sleepytime appInfo {
  display: block;
}
.teibp.sleepytime appInfo:before {
  content: "Application information: ";
}
.teibp.sleepytime application {
  display: block;
}
.teibp.sleepytime application:after {
  content: " " attr(version);
}
.teibp.sleepytime arc {
  /* Empty Rule Set */
}
.teibp.sleepytime argument {
  display: block;
}
.teibp.sleepytime att {
  font-family: Courier,monospace;
}
.teibp.sleepytime att:before {
  content: "@";
}
.teibp.sleepytime attDef {
  /* Empty Rule Set */
}
.teibp.sleepytime attList {
  /* Empty Rule Set */
}
.teibp.sleepytime attRef {
  /* Empty Rule Set */
}
.teibp.sleepytime author {
  /* Empty Rule Set */
}
.teibp.sleepytime titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
.teibp.sleepytime authority {
  /* Empty Rule Set */
}
.teibp.sleepytime publicationStmt > availability {
  font-size: 80%;
}
.teibp.sleepytime publicationStmt > availability:before {
  font-weight: bold;
  content: "Availability: ";
}
.teibp.sleepytime publicationStmt > availability[status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
.teibp.sleepytime back {
  display: block;
}
.teibp.sleepytime bibl {
  /* Empty Rule Set */
}
.teibp.sleepytime bibl[rend~="block"],
.teibp.sleepytime bibl[rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp.sleepytime biblFull {
  display: block;
}
.teibp.sleepytime biblScope {
  /* Empty Rule Set */
}
.teibp.sleepytime biblStruct {
  /* Empty Rule Set */
}
.teibp.sleepytime bicond {
  /* Empty Rule Set */
}
.teibp.sleepytime binary {
  /* Empty Rule Set */
}
.teibp.sleepytime binaryObject {
  /* Empty Rule Set */
}
.teibp.sleepytime binding {
  display: block;
}
.teibp.sleepytime binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}
.teibp.sleepytime binding[contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
.teibp.sleepytime bindingDesc {
  display: block;
}
.teibp.sleepytime bindngDesc:before {
  content: "Binding Description: \A";
}
.teibp.sleepytime birth {
  display: block;
}
.teibp.sleepytime birth:before {
  content: "Birth: ";
}
.teibp.sleepytime bloc {
  /* Empty Rule Set */
}
.teibp.sleepytime broadcast {
  /* Empty Rule Set */
}
.teibp.sleepytime byline {
  /* Empty Rule Set */
}
.teibp.sleepytime c {
  /* Empty Rule Set */
}
.teibp.sleepytime cRefPattern {
  display: none;
}
.teibp.sleepytime caesura {
  /* Empty Rule Set */
}
.teibp.sleepytime camera {
  /* Empty Rule Set */
}
.teibp.sleepytime caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime case[value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
.teibp.sleepytime castGroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime castItem {
  display: list-item;
  list-style-type: none;
}
.teibp.sleepytime castList {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.teibp.sleepytime catDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime catRef {
  /* Empty Rule Set */
}
.teibp.sleepytime category {
  /* Empty Rule Set */
}
.teibp.sleepytime cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime cb:before {
  content: "[column break]";
}
.teibp.sleepytime cell {
  display: table-cell;
  padding: 1em 1.5em 1em 1em;
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #444444;
  width: 100%;
}
.teibp.sleepytime [role=label] {
  font-weight: bold;
}
.teibp.sleepytime certainty {
  /* Empty Rule Set */
}
.teibp.sleepytime change {
  /* Empty Rule Set */
}
.teibp.sleepytime channel {
  /* Empty Rule Set */
}
.teibp.sleepytime charDecl {
  /* Empty Rule Set */
}
.teibp.sleepytime charName {
  /* Empty Rule Set */
}
.teibp.sleepytime charProp {
  /* Empty Rule Set */
}
.teibp.sleepytime choice {
  /* Empty Rule Set */
}
.teibp.sleepytime cit {
  /* Empty Rule Set */
}
.teibp.sleepytime cl {
  /* Empty Rule Set */
}
.teibp.sleepytime classCode {
  /* Empty Rule Set */
}
.teibp.sleepytime classDecl {
  /* Empty Rule Set */
}
.teibp.sleepytime classRef {
  /* Empty Rule Set */
}
.teibp.sleepytime classSpec {
  /* Empty Rule Set */
}
.teibp.sleepytime classes {
  /* Empty Rule Set */
}
.teibp.sleepytime climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime climate:before {
  font-weight: bold;
  content: "Climate: ";
}
.teibp.sleepytime closer {
  /* Empty Rule Set */
}
.teibp.sleepytime code {
  font-family: Courier,monospace;
}
.teibp.sleepytime collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime collection {
  /* Empty Rule Set */
}
.teibp.sleepytime colloc {
  /* Empty Rule Set */
}
.teibp.sleepytime colophon {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime cond {
  /* Empty Rule Set */
}
.teibp.sleepytime condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
.teibp.sleepytime constitution[type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime constitution[type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
.teibp.sleepytime constitution[type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime constitution[type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
.teibp.sleepytime constraint {
  /* Empty Rule Set */
}
.teibp.sleepytime constraintSpec {
  /* Empty Rule Set */
}
.teibp.sleepytime content {
  /* Empty Rule Set */
}
.teibp.sleepytime corr {
  /* Empty Rule Set */
}
.teibp.sleepytime correction {
  /* Empty Rule Set */
}
.teibp.sleepytime country {
  /* Empty Rule Set */
}
.teibp.sleepytime creation {
  /* Empty Rule Set */
}
.teibp.sleepytime custEvent {
  display: list-item;
}
.teibp.sleepytime custodialHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime date[when]:empty:before {
  content: attr(when);
}
.teibp.sleepytime egXML {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #444444;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
.teibp.sleepytime encodingDesc {
  display: none;
}
.teibp.sleepytime epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime fileDesc > extent {
  display: none;
}
.teibp.sleepytime figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.teibp.sleepytime g {
  /* Empty Rule Set */
}
.teibp.sleepytime gap {
  /* GLS: Depending upon how we handle gap and lacuna, we may want to enclose in [] */
}
.teibp.sleepytime gb {
  /* Empty Rule Set */
}
.teibp.sleepytime gen {
  /* Empty Rule Set */
}
.teibp.sleepytime genName {
  /* Empty Rule Set */
}
.teibp.sleepytime geo {
  /* Empty Rule Set */
}
.teibp.sleepytime geoDecl {
  /* Empty Rule Set */
}
.teibp.sleepytime geogFeat {
  /* Empty Rule Set */
}
.teibp.sleepytime geogName {
  /* Empty Rule Set */
}
.teibp.sleepytime gi {
  font-family: Courier,monospace;
}
.teibp.sleepytime gi:before {
  content: "<";
}
.teibp.sleepytime gi:after {
  content: ">";
}
.teibp.sleepytime gloss {
  /* Empty Rule Set */
}
.teibp.sleepytime glyph {
  /* Empty Rule Set */
}
.teibp.sleepytime glyphName {
  /* Empty Rule Set */
}
.teibp.sleepytime gram {
  /* Empty Rule Set */
}
.teibp.sleepytime gramGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime graph {
  /* Empty for now */
}
.teibp.sleepytime graphic {
  display: none;
}
.teibp.sleepytime group {
  /* Empty Rule Set */
}
.teibp.sleepytime handDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime handNote {
  /* Empty Rule Set */
}
.teibp.sleepytime handNotes {
  /* Empty Rule Set */
}
.teibp.sleepytime handShift {
  /* Empty Rule Set */
}
.teibp.sleepytime TEI head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
.teibp.sleepytime body > head {
  font-size: 180%;
  text-indent: -0.5em;
}
.teibp.sleepytime div > head {
  font-size: 170%;
  text-indent: -0.5em;
}
.teibp.sleepytime div > div > head {
  font-size: 155%;
}
.teibp.sleepytime div > div > div > head {
  font-size: 140%;
}
.teibp.sleepytime div > div > div > div > head,
.teibp.sleepytime list > head {
  font-size: 130%;
}
.teibp.sleepytime div > div > div > div > div > head {
  font-size: 120%;
}
.teibp.sleepytime div > div > div > div > div > div head {
  font-size: 110%;
}
.teibp.sleepytime figure > head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Cochin, Georgia, Serif;
  font-size: 14pt;
}
.teibp.sleepytime headItem {
  /* Empty Rule Set */
}
.teibp.sleepytime headLabel {
  /* Empty Rule Set */
}
.teibp.sleepytime height {
  /* Empty Rule Set */
}
.teibp.sleepytime heraldry {
  /* Empty Rule Set */
}
.teibp.sleepytime hi {
  /* GLS: do we want to bold this or change the background color? */
}
.teibp.sleepytime history {
  /* Empty Rule Set */
}
.teibp.sleepytime hom {
  /* Empty Rule Set */
}
.teibp.sleepytime hyph {
  /* Empty Rule Set */
}
.teibp.sleepytime hyphenation {
  /* Empty Rule Set */
}
.teibp.sleepytime iNode {
  /* Empty Rule Set */
}
.teibp.sleepytime iType {
  /* Empty Rule Set */
}
.teibp.sleepytime ident {
  font-family: Courier,monospace;
}
.teibp.sleepytime idno {
  /* Empty Rule Set */
}
.teibp.sleepytime if {
  /* Empty Rule Set */
}
.teibp.sleepytime iff {
  /* Empty Rule Set */
}
.teibp.sleepytime imprimatur {
  /* Empty Rule Set */
}
.teibp.sleepytime imprint {
  /* Empty Rule Set */
}
.teibp.sleepytime incident {
  /* Empty Rule Set */
}
.teibp.sleepytime incipit {
  /* Empty Rule Set */
}
.teibp.sleepytime index {
  /* Empty Rule Set */
}
.teibp.sleepytime institution {
  /* Empty Rule Set */
}
.teibp.sleepytime interaction {
  /* Empty Rule Set */
}
.teibp.sleepytime interpGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime interpretation {
  /* Empty Rule Set */
}
.teibp.sleepytime item {
  display: list-item;
  margin-left: 1em;
}
.teibp.sleepytime cell item {
  margin-left: 1em;
}
.teibp.sleepytime list[type="gloss"] > item {
  margin-left: 2em;
}
.teibp.sleepytime join {
  /* Empty Rule Set */
}
.teibp.sleepytime joinGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime keywords {
  /* Empty Rule Set */
}
.teibp.sleepytime kinesic {
  /* Empty Rule Set */
}
.teibp.sleepytime l {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp.sleepytime list[type="gloss"] > label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.teibp.sleepytime lacunaEnd {
  /* Empty Rule Set */
}
.teibp.sleepytime lacunaStart {
  /* Empty Rule Set */
}
.teibp.sleepytime lang {
  /* Empty Rule Set */
}
.teibp.sleepytime langKnowledge {
  /* Empty Rule Set */
}
.teibp.sleepytime langKnown {
  /* Empty Rule Set */
}
.teibp.sleepytime langUsage {
  /* Empty Rule Set */
}
.teibp.sleepytime language {
  /* Empty Rule Set */
}
.teibp.sleepytime layout {
  /* Empty Rule Set */
}
.teibp.sleepytime layoutDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime lb {
  /* Empty Rule Set */
}
.teibp.sleepytime lb:after {
  content: '\a';
  white-space: pre;
}
.teibp.sleepytime lbl {
  /* Empty Rule Set */
}
.teibp.sleepytime leaf {
  /* Empty Rule Set */
}
.teibp.sleepytime lem {
  /* Empty Rule Set */
}
.teibp.sleepytime lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime link {
  /* Empty Rule Set */
}
.teibp.sleepytime linkGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime item > list {
  margin-top: 0;
}
.teibp.sleepytime text list[type=simple] {
  list-style-type: none;
}
.teibp.sleepytime text list[type=bulleted] {
  list-style-type: disc;
}
.teibp.sleepytime text list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}
.teibp.sleepytime text list[type=ordered] > item {
  display: list-item;
  margin-left: 0;
}
.teibp.sleepytime item > list[type=ordered] {
  margin-left: 1em;
}
.teibp.sleepytime text list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
.teibp.sleepytime text list[type=gloss] {
  list-style-type: none;
}
.teibp.sleepytime item > list[type=ordered] {
  margin-left: 1em;
}
.teibp.sleepytime localName {
  /* Empty Rule Set */
}
.teibp.sleepytime locale {
  /* Empty Rule Set */
}
.teibp.sleepytime location {
  /* Empty Rule Set */
}
.teibp.sleepytime locus {
  /* Empty Rule Set */
}
.teibp.sleepytime locusGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime m {
  /* Empty Rule Set */
}
.teibp.sleepytime macroRef {
  /* Empty Rule Set NOT SURE WHAT EXACTLY*/
}
.teibp.sleepytime macroSpec {
  /* dunno */
}
.teibp.sleepytime mapping {
  /* not sure, maybe create rends for a few standard types, maybe hide */
}
.teibp.sleepytime material {
  /* Empty Rule Set */
}
.teibp.sleepytime measure {
  /* Empty Rule Set */
}
.teibp.sleepytime measureGrp {
  /* probably want to display attributes, at least units and type */
}
.teibp.sleepytime meeting {
  /*Block */
}
.teibp.sleepytime memberOf {
  /* Empty Rule Set */
}
.teibp.sleepytime mentioned {
  /* think do nothing, not real clear on function, maybe hide? */
}
.teibp.sleepytime metDecl {
  /* Empty Rule Set */
}
.teibp.sleepytime metSym {
  /* Empty Rule Set */
}
.teibp.sleepytime milestone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.teibp.sleepytime milestone:before {
  content: "* * * * *";
}
.teibp.sleepytime moduleRef {
  /* probably hide, not sure how we want to deal */
}
.teibp.sleepytime moduleSpec {
  /* probably hide, not sure how we want to deal */
}
.teibp.sleepytime monogr {
  /* block with space above, below */
}
.teibp.sleepytime mood {
  /* Empty Rule Set */
}
.teibp.sleepytime move {
  /* not sure, block, maybe just ital, maybe in parenths*/
}
.teibp.sleepytime msContents .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime msDesc {
  /* block with space above, below */
}
.teibp.sleepytime msIdentifier {
  /* block */
}
.teibp.sleepytime msItem {
  /* block */
}
.teibp.sleepytime msItemStruct {
  /* block */
}
.teibp.sleepytime msName {
  /* Empty Rule Set */
}
.teibp.sleepytime msPart {
  /* not sure, think block */
}
.teibp.sleepytime musicNotation {
  font-weight: bold;
}
.teibp.sleepytime musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
.teibp.sleepytime name {
  /* Empty Rule Set */
}
.teibp.sleepytime nameLink {
  /* Empty Rule Set */
}
.teibp.sleepytime namespace {
  /* not sure, hide? */
}
.teibp.sleepytime nationality {
  /* Empty Rule Set */
}
.teibp.sleepytime node {
  display: none;
}
.teibp.sleepytime normalization {
  /* Empty Rule Set */
}
.teibp.sleepytime note {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.sleepytime notesStmt {
  /* do we want to box each individual <note> if they're in a <notesStmt>? */
  display: none;
}
.teibp.sleepytime num {
  /* Empty Rule Set */
}
.teibp.sleepytime number {
  /* Empty Rule Set */
}
.teibp.sleepytime numeric {
  /* not sure, depends how we're dealing with <f>'s */
}
.teibp.sleepytime nym {
  /* not really sure here */
}
.teibp.sleepytime oRef {
  /* not sure, think do nothing */
}
.teibp.sleepytime oVar {
  font-style: italic;
}
.teibp.sleepytime objectDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime objectType {
  /* Empty Rule Set */
}
.teibp.sleepytime occupation {
  /* Empty Rule Set */
}
.teibp.sleepytime offset {
  /* Empty Rule Set */
}
.teibp.sleepytime opener {
  /* Empty Rule Set */
}
.teibp.sleepytime org {
  /* Empty Rule Set */
}
.teibp.sleepytime orgName {
  /* Empty Rule Set */
}
.teibp.sleepytime origDate {
  /* Empty Rule Set */
}
.teibp.sleepytime origPlace {
  font-weight: bold;
}
.teibp.sleepytime origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}
.teibp.sleepytime origin {
  /* Empty Rule Set */
}
.teibp.sleepytime p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
.teibp.sleepytime *[rendition~="#center"] p {
  text-align: center;
}
.teibp.sleepytime availability > p:first-child {
  margin-top: 0em;
}
.teibp.sleepytime pRef {
  /* rend attribute target */
}
.teibp.sleepytime pVar {
  /* rend attribute target */
}
.teibp.sleepytime particDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime pause {
  /* Empty Rule Set*/
}
.teibp.sleepytime pb {
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 11pt;
}
.teibp.sleepytime pc {
  /* Empty Rule Set */
}
.teibp.sleepytime per {
  /* don't know, check back */
}
.teibp.sleepytime performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime persName {
  /* Empty Rule Set */
}
.teibp.sleepytime person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime phr {
  /* Empty Rule Set */
}
.teibp.sleepytime physDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime place {
  /* Empty Rule Set */
}
.teibp.sleepytime placeName {
  /* Empty Rule Set */
}
.teibp.sleepytime population {
  /* dunno with this one */
}
.teibp.sleepytime pos {
  /* Empty Rule Set */
}
.teibp.sleepytime postBox {
  /* Empty Rule Set */
}
.teibp.sleepytime postCode {
  /* Empty Rule Set */
}
.teibp.sleepytime postscript {
  display: block;
  margin-top: 2em;
}
.teibp.sleepytime precision {
  /* Empty Rule Set */
}
.teibp.sleepytime preparedness {
  /* Empty Rule Set */
}
.teibp.sleepytime principal {
  font-weight: bold;
}
.teibp.sleepytime principal:before {
  font-weight: bold;
  content: "Principal: ";
}
.teibp.sleepytime profileDesc {
  display: none;
}
.teibp.sleepytime projectDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime prologue {
  /* Empty Rule Set */
}
.teibp.sleepytime pron {
  /* Empty Rule Set */
}
.teibp.sleepytime provenance {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime ptr {
  /* dunno */
}
.teibp.sleepytime pubPlace {
  /* Empty Rule Set */
}
.teibp.sleepytime publicationStmt > * {
  display: none;
}
.teibp.sleepytime publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime publicationStmt > date {
  display: none;
}
.teibp.sleepytime publicationStmt > publisher {
  display: none;
}
.teibp.sleepytime purpose {
  /* Empty Rule Set */
}
.teibp.sleepytime q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepytime q:before {
  content: open-quote;
}
.teibp.sleepytime q:after {
  content: close-quote;
}
.teibp.sleepytime q[next]:after {
  content: "" !important;
}
.teibp.sleepytime q[prev]:before {
  content: "" !important;
}
.teibp.sleepytime quotation {
  /* Empty Rule Set */
}
.teibp.sleepytime quote {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepytime quote:before {
  content: open-quote;
}
.teibp.sleepytime quote:after {
  content: close-quote;
}
.teibp.sleepytime quote[next]:after {
  content: "" !important;
}
.teibp.sleepytime quote[prev]:before {
  content: "" !important;
}
.teibp.sleepytime rdg {
  /*perhaps choice */
}
.teibp.sleepytime rdgGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime recordHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime recording {
  /* not sure here, only in header? */
}
.teibp.sleepytime recordingStmt {
  /* Empty Rule Set */
}
.teibp.sleepytime ref {
  /*include link if target */
}
.teibp.sleepytime region {
  /* Empty Rule Set */
}
.teibp.sleepytime relatedItem {
  /* Empty Rule Set */
}
.teibp.sleepytime relation {
  /* Don't Know*/
}
.teibp.sleepytime relationGrp {
  /* Empty Rule Set */
}
.teibp.sleepytime remarks {
  font-weight: bold;
}
.teibp.sleepytime remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
.teibp.sleepytime rendition {
  /*Don't remember what we decided to do with this*/
}
.teibp.sleepytime repository {
  /* Empty Rule Set */
}
.teibp.sleepytime residence {
  /* Empty Rule Set */
}
.teibp.sleepytime resp {
  /* Empty Rule Set */
}
.teibp.sleepytime respStmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime restore {
  /* footnote or sidenote perhaps*/
}
.teibp.sleepytime revisionDesc {
  display: none;
}
.teibp.sleepytime rhyme {
  /* Empty Rule Set */
}
.teibp.sleepytime role {
  /* put on same line as roledesc? */
}
.teibp.sleepytime roleDesc {
  /* put on same line as role */
}
.teibp.sleepytime roleName {
  /* Empty Rule Set */
}
.teibp.sleepytime root {
  /* don't know */
}
.teibp.sleepytime row {
  display: table-row;
}
.teibp.sleepytime rs {
  /* Empty Rule Set */
}
.teibp.sleepytime s {
  text-decoration: none;
}
.teibp.sleepytime said {
  /* Empty Rule Set */
}
.teibp.sleepytime salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime samplingDecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime schemaSpec {
  /*NOT SURE, talk over with group */
}
.teibp.sleepytime scriptDesc {
  /*NOT SURE, talk over with group */
}
.teibp.sleepytime scriptNote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime scriptStmt {
  /* not sure */
}
.teibp.sleepytime seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime seal:before {
  font-weight: bold;
  content: "Seal: ";
}
.teibp.sleepytime sealDesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
.teibp.sleepytime seg {
  /* Empty Set Rule */
}
.teibp.sleepytime segmentation {
  /* Empty Rule Set */
}
.teibp.sleepytime sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime series {
  /* treat same as seriesstmt? */
}
.teibp.sleepytime seriesStmt {
  display: none;
}
.teibp.sleepytime set {
  /* Empty Set Rule */
}
.teibp.sleepytime setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime settingDesc {
  /* Empty Set Rule */
}
.teibp.sleepytime settlement {
  /* Empty Set Rule */
}
.teibp.sleepytime sex {
  /* Empty Rule Set */
}
.teibp.sleepytime shift {
  /* seems a bit to complex to do anything with */
}
.teibp.sleepytime sic {
  /* rend as choice when contained within a choice tag, perhaps as label with parenthesis after when alone */
}
.teibp.sleepytime signatures {
  /* DON't KNOW, look again later */
}
.teibp.sleepytime signed {
  display: block;
  margin-top: 2em;
  /*should make name a block when contained within  */
}
.teibp.sleepytime soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepytime soCalled:before {
  content: open-quote;
}
.teibp.sleepytime soCalled:after {
  content: close-quote;
}
.teibp.sleepytime soCalled[next]:after {
  content: "" !important;
}
.teibp.sleepytime soCalled[prev]:before {
  content: "" !important;
}
.teibp.sleepytime socecStatus {
  /* Empty Set Rule */
}
.teibp.sleepytime sound {
  font-style: italic;
}
.teibp.sleepytime source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepytime sourceDesc {
  display: none;
}
.teibp.sleepytime sp {
  /*empty rule set*/
}
.teibp.sleepytime space:before {
  font-weight: bold;
  content: "";
}
.teibp.sleepytime TEI span {
  display: none;
}
.teibp.sleepytime TEI egXML span {
  display: inline;
}
.teibp.sleepytime spanGrp {
  /* NOT SURE, look back on */
}
.teibp.sleepytime speaker {
  font-weight: bold;
  margin-right: 0;
}
.teibp.sleepytime specDesc {
  /* NOT SURE, look back on */
}
.teibp.sleepytime specGrp {
  /* NOT SURE, look back on */
}
.teibp.sleepytime specGrpRef {
  /* NOT SURE, look back on */
}
.teibp.sleepytime specList {
  /* Empty Set Rule */
}
.teibp.sleepytime sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /* Block element, maybe labeled  */
}
.teibp.sleepytime sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}
.teibp.sleepytime stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
.teibp.sleepytime stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepytime stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}
.teibp.sleepytime state {
  /* Empty Set Rule */
}
.teibp.sleepytime stdVals {
  /* Empty Set Rule */
}
.teibp.sleepytime street {
  /* Empty Set Rule */
}
.teibp.sleepytime stress {
  /* Empty Set Rule */
}
.teibp.sleepytime string {
  /* Empty Set Rule */
}
.teibp.sleepytime stringVal {
  /* doesn't seem to be part of tei 5 */
}
.teibp.sleepytime subc {
  /* Empty Set Rule */
}
.teibp.sleepytime subst {
  /* Empty Set Rule */
}
.teibp.sleepytime summary {
  /* Empty Set Rule */
}
.teibp.sleepytime superEntry {
  /* Block with space above and below, maybe have no block and space for <entry> when contained by this element */
}
.teibp.sleepytime supplied {
  /* not sure on this one, seems like we should indicate somehow. Is there a standard way to do this? */
}
.teibp.sleepytime support {
  /* Empty Set Rule */
}
.teibp.sleepytime supportDesc {
  /* do nothing with or maybe block */
}
.teibp.sleepytime surface {
  /* choice */
}
.teibp.sleepytime surname {
  /* Empty Set Rule */
}
.teibp.sleepytime surplus {
  display: none;
}
.teibp.sleepytime surrogates {
  /*Empty Rule Set */
}
.teibp.sleepytime syll {
  /* Empty Set Rule */
}
.teibp.sleepytime symbol {
  /* Empty Set Rule */
}
.teibp.sleepytime TEI {
  display: block;
}
.teibp.sleepytime table {
  border-collapse: separate;
  border-spacing: 2px;
}
.teibp.sleepytime TEI table {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
.teibp.sleepytime table > head {
  text-align: center;
}
.teibp.sleepytime teiHeader {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #999;
}
.teibp.sleepytime TEI > text {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  line-height: 1.5;
}
.teibp.sleepytime textClass {
  display: none;
}
.teibp.sleepytime textDesc {
  display: none;
}
.teibp.sleepytime TEI title {
  display: inline;
}
.teibp.sleepytime TEI title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepytime TEI title[level=a]:before {
  content: open-quote;
}
.teibp.sleepytime TEI title[level=a]:after {
  content: close-quote;
}
.teibp.sleepytime TEI title[level=a][next]:after {
  content: "" !important;
}
.teibp.sleepytime TEI title[level=a][prev]:before {
  content: "" !important;
}
.teibp.sleepytime title[level=m] {
  font-style: italic;
}
.teibp.sleepytime titleStmt > title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
.teibp.sleepytime titleStmt > editor:before {
  content: "Edited by ";
}
.teibp.sleepytime typeDesc {
  display: none;
}
.teibp.sleepytime u:before {
  content: "-";
}
.teibp.sleepytime unicodeName {
  /* Empty Rule Set */
}
.teibp.sleepytime usg {
  /* Empty Rule Set */
}
.teibp.sleepytime vAlt {
  /* Empty Rule Set */
}
.teibp.sleepytime vColl {
  /* Empty Rule Set */
}
.teibp.sleepytime vDefault {
  /* Empty Rule Set */
}
.teibp.sleepytime vLabel {
  /* Empty Rule Set */
}
.teibp.sleepytime vMerge {
  /* Empty Rule Set */
}
.teibp.sleepytime vNot {
  /* Empty Rule Set */
}
.teibp.sleepytime vRange {
  /* Empty Rule Set */
}
.teibp.sleepytime val {
  /* Empty Rule Set */
}
.teibp.sleepytime valDesc {
  /* Empty Rule Set */
}
.teibp.sleepytime valItem {
  /* Empty Rule Set */
}
.teibp.sleepytime valList {
  /* Empty Rule Set */
}
.teibp.sleepytime value {
  /* Empty Rule Set */
}
.teibp.sleepytime variantEncoding {
  /* Empty Rule Set */
}
.teibp.sleepytime view {
  font-style: italic;
}
.teibp.sleepytime vocal {
  /* Empty Rule Set */
}
.teibp.sleepytime w {
  /* Empty Rule Set */
}
.teibp.sleepytime watermark {
  /* Empty Rule Set */
}
.teibp.sleepytime width {
  /* Empty Rule Set */
}
.teibp.sleepytime wit {
  /* Empty Rule Set */
}
.teibp.sleepytime witDetail {
  /* Empty Rule Set */
}
.teibp.sleepytime witEnd {
  /* Empty Rule Set */
}
.teibp.sleepytime witStart {
  /* Empty Rule Set */
}
.teibp.sleepytime witness {
  /* Empty Rule Set */
}
.teibp.sleepytime writing {
  /* Empty Rule Set */
}
.teibp.sleepytime xr {
  /* Empty Rule Set */
}
.teibp.sleepytime zone {
  /* Empty Rule Set */
}
/* styles for .teibp shell and html elements in TEI (e.g.,<a> and <img>) */
.teibp.sleepytime {
  margin: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-family: Cochin, Georgia, Serif;
  font-size: 14pt;
  background-color: #000000;
  color: #ffffff;
  width: auto;
  /* xml-serialization */
  /* loading animation */
}
.teibp.sleepytime img {
  border: 1px solid #444444;
}
.teibp.sleepytime #footer {
  margin-top: 1em;
  border-top: 1px solid #ffffff;
  padding-top: .5em;
  font-size: 12pt;
}
.teibp.sleepytime a:link,
.teibp.sleepytime a:visited,
.teibp.sleepytime a:active {
  color: #1cc0fa;
  text-decoration: none;
}
.teibp.sleepytime a:hover {
  color: #1cc0fa;
  text-decoration: underline;
}
.teibp.sleepytime #teibpToolbox {
  left: 75%;
  top: 0;
  position: relative;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #444444;
  background: #252525;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 14em;
}
.teibp.sleepytime #teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #444444;
}
.teibp.sleepytime .eg-element {
  color: #0165c8;
}
.teibp.sleepytime .eg-comment {
  color: gray;
}
.teibp.sleepytime .eg-att,
.teibp.sleepytime .eg-nsdecl {
  color: #f58650;
}
.teibp.sleepytime .eg-attvalue,
.teibp.sleepytime .eg-ns {
  color: #993300;
}
.teibp.sleepytime .eg-text {
  color: #ffffff;
}
.teibp.sleepytime #loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
/* Sleepy Time Theme */
