/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.sleepy {
  /* US Style Quotes */
  /* UK-Style Quotes */
  /* Choice elements */
  /* A */
  /* add */
  /* Could add other [place=] variations */
  /* B */
  /* c */
  /* for cell or row with @role = label */
  /* jawalsh:
	For things like collation, condition, etc. that can have text or paragraphs as
	children, we should use margins, when the content is text, and no margins when there
	are child paragraphs (or other block elements). Otherwise we end up with double
	margins. */
  /* jawalsh:
	Need to discuss and coordinate handling of sic/corr, abbr/expan, and orig/reg */
  /*jawalsh:
	Need to handle attributes for custEvent. All the att.datable* attributes will be tricky.
	custodialHist and custEvent may normally be hidden along with other header metadata, but
	we'll have other datable elements that may be tricky. */
  /* d */
  /* e */
  /* f */
  /* g */
  /* h */
  /* Need head with TEI parent to distinguish from HTML head */
  /* i */
  /* j */
  /* k */
  /* l */
  /* Match only lists that are descendants of
	text. Otherwise they show up in the header. */
  /* m */
  /* n */
  /* o */
  /* p */
  /*
	pb:before {
		content: "[page:\a0" attr(n) "]";
	}
	*/
  /* q */
  /* r */
  /* hide */
  /*label*/
  /* s */
  /* When TEI document is embedded in HTML page,
	   TEI's <s> element can be interpreted by
	   browser as HTML <s>, which results in
	   a strike-through from the "user agent"
	   styles. */
  /* t */
  /* Why is this selector "TEI table" instead of just "table"? */
  /* title */
  /* Need TEI ancestor to distinguish TEI title from HTML title */
  /* u */
  /* v */
  /* w */
  /* x */
  /* z */
}
.teibp.sleepy .note-like {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.sleepy .quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepy .quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.teibp.sleepy .quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepy .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy .hide {
  display: none;
}
.teibp.sleepy .mono {
  font-family: Courier,monospace;
}
.teibp.sleepy .table-border {
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #444444;
}
.teibp.sleepy choice abbr + expan:before,
.teibp.sleepy choice expan + abbr:before,
.teibp.sleepy choice sic + corr:before,
.teibp.sleepy choice corr + sic:before,
.teibp.sleepy choice orig + reg:before,
.teibp.sleepy choice reg + orig:before {
  content: " (";
}
.teibp.sleepy choice abbr + expan:after,
.teibp.sleepy choice expan + abbr:after,
.teibp.sleepy choice sic + corr:after,
.teibp.sleepy choice corr + sic:after,
.teibp.sleepy choice orig + reg:after,
.teibp.sleepy choice reg + orig:after {
  content: ")";
}
.teibp.sleepy ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy accMat {
  display: block;
}
.teibp.sleepy accMat:before {
  content: "accompanying materials: ";
}
.teibp.sleepy acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
.teibp.sleepy activity {
  display: block;
}
.teibp.sleepy activity:before {
  content: "activity: ";
}
.teibp.sleepy actor {
  /* Empty Rule Set */
}
.teibp.sleepy add {
  vertical-align: super;
}
.teibp.sleepy add[place=below] {
  vertical-align: sub;
}
.teibp.sleepy addName {
  /* Empty Rule Set */
}
.teibp.sleepy addSpan {
  /* Empty Rule Set */
}
.teibp.sleepy additional {
  display: block;
}
.teibp.sleepy additions {
  display: block;
}
.teibp.sleepy additions:before {
  content: "Significant additions within the document: ";
}
.teibp.sleepy addrLine {
  display: block;
}
.teibp.sleepy address {
  /* Empty Rule Set */
}
.teibp.sleepy address[rend~="block"],
.teibp.sleepy addresss[rendition~="#block"] {
  display: block;
}
.teibp.sleepy adminInfo {
  display: block;
}
.teibp.sleepy affiliation {
  /* Empty Rule Set */
}
.teibp.sleepy age {
  /* Empty Rule Set */
}
.teibp.sleepy alt {
  /* Empty Rule Set */
}
.teibp.sleepy altGrp {
  /* Empty Rule Set */
}
.teibp.sleepy altIdent {
  /* Empty Rule Set */
}
.teibp.sleepy altIdentifier {
  display: block;
}
.teibp.sleepy altIdentifier:before {
  content: "Alternate ID: ";
}
.teibp.sleepy am {
  /* Empty Rule Set */
}
.teibp.sleepy analytic {
  /* Empty Rule Set */
}
.teibp.sleepy anchor {
  /* Empty Rule Set */
}
.teibp.sleepy app {
  display: block;
}
.teibp.sleepy appInfo {
  display: block;
}
.teibp.sleepy appInfo:before {
  content: "Application information: ";
}
.teibp.sleepy application {
  display: block;
}
.teibp.sleepy application:after {
  content: " " attr(version);
}
.teibp.sleepy arc {
  /* Empty Rule Set */
}
.teibp.sleepy argument {
  display: block;
}
.teibp.sleepy att {
  font-family: Courier,monospace;
}
.teibp.sleepy att:before {
  content: "@";
}
.teibp.sleepy attDef {
  /* Empty Rule Set */
}
.teibp.sleepy attList {
  /* Empty Rule Set */
}
.teibp.sleepy attRef {
  /* Empty Rule Set */
}
.teibp.sleepy author {
  /* Empty Rule Set */
}
.teibp.sleepy titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
.teibp.sleepy authority {
  /* Empty Rule Set */
}
.teibp.sleepy publicationStmt > availability {
  font-size: 80%;
}
.teibp.sleepy publicationStmt > availability:before {
  font-weight: bold;
  content: "Availability: ";
}
.teibp.sleepy publicationStmt > availability[status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
.teibp.sleepy back {
  display: block;
}
.teibp.sleepy bibl {
  /* Empty Rule Set */
}
.teibp.sleepy bibl[rend~="block"],
.teibp.sleepy bibl[rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp.sleepy biblFull {
  display: block;
}
.teibp.sleepy biblScope {
  /* Empty Rule Set */
}
.teibp.sleepy biblStruct {
  /* Empty Rule Set */
}
.teibp.sleepy bicond {
  /* Empty Rule Set */
}
.teibp.sleepy binary {
  /* Empty Rule Set */
}
.teibp.sleepy binaryObject {
  /* Empty Rule Set */
}
.teibp.sleepy binding {
  display: block;
}
.teibp.sleepy binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}
.teibp.sleepy binding[contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
.teibp.sleepy bindingDesc {
  display: block;
}
.teibp.sleepy bindngDesc:before {
  content: "Binding Description: \A";
}
.teibp.sleepy birth {
  display: block;
}
.teibp.sleepy birth:before {
  content: "Birth: ";
}
.teibp.sleepy bloc {
  /* Empty Rule Set */
}
.teibp.sleepy broadcast {
  /* Empty Rule Set */
}
.teibp.sleepy byline {
  /* Empty Rule Set */
}
.teibp.sleepy c {
  /* Empty Rule Set */
}
.teibp.sleepy cRefPattern {
  display: none;
}
.teibp.sleepy caesura {
  /* Empty Rule Set */
}
.teibp.sleepy camera {
  /* Empty Rule Set */
}
.teibp.sleepy caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy case[value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
.teibp.sleepy castGroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy castItem {
  display: list-item;
  list-style-type: none;
}
.teibp.sleepy castList {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.teibp.sleepy catDesc {
  /* Empty Rule Set */
}
.teibp.sleepy catRef {
  /* Empty Rule Set */
}
.teibp.sleepy category {
  /* Empty Rule Set */
}
.teibp.sleepy cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy cb:before {
  content: "[column break]";
}
.teibp.sleepy cell {
  display: table-cell;
  padding: 1em 1.5em 1em 1em;
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #444444;
  width: 100%;
}
.teibp.sleepy [role=label] {
  font-weight: bold;
}
.teibp.sleepy certainty {
  /* Empty Rule Set */
}
.teibp.sleepy change {
  /* Empty Rule Set */
}
.teibp.sleepy channel {
  /* Empty Rule Set */
}
.teibp.sleepy charDecl {
  /* Empty Rule Set */
}
.teibp.sleepy charName {
  /* Empty Rule Set */
}
.teibp.sleepy charProp {
  /* Empty Rule Set */
}
.teibp.sleepy choice {
  /* Empty Rule Set */
}
.teibp.sleepy cit {
  /* Empty Rule Set */
}
.teibp.sleepy cl {
  /* Empty Rule Set */
}
.teibp.sleepy classCode {
  /* Empty Rule Set */
}
.teibp.sleepy classDecl {
  /* Empty Rule Set */
}
.teibp.sleepy classRef {
  /* Empty Rule Set */
}
.teibp.sleepy classSpec {
  /* Empty Rule Set */
}
.teibp.sleepy classes {
  /* Empty Rule Set */
}
.teibp.sleepy climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy climate:before {
  font-weight: bold;
  content: "Climate: ";
}
.teibp.sleepy closer {
  /* Empty Rule Set */
}
.teibp.sleepy code {
  font-family: Courier,monospace;
}
.teibp.sleepy collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy collection {
  /* Empty Rule Set */
}
.teibp.sleepy colloc {
  /* Empty Rule Set */
}
.teibp.sleepy colophon {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy cond {
  /* Empty Rule Set */
}
.teibp.sleepy condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
.teibp.sleepy constitution[type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy constitution[type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
.teibp.sleepy constitution[type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy constitution[type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
.teibp.sleepy constraint {
  /* Empty Rule Set */
}
.teibp.sleepy constraintSpec {
  /* Empty Rule Set */
}
.teibp.sleepy content {
  /* Empty Rule Set */
}
.teibp.sleepy corr {
  /* Empty Rule Set */
}
.teibp.sleepy correction {
  /* Empty Rule Set */
}
.teibp.sleepy country {
  /* Empty Rule Set */
}
.teibp.sleepy creation {
  /* Empty Rule Set */
}
.teibp.sleepy custEvent {
  display: list-item;
}
.teibp.sleepy custodialHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy date[when]:empty:before {
  content: attr(when);
}
.teibp.sleepy egXML {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #444444;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
.teibp.sleepy encodingDesc {
  display: none;
}
.teibp.sleepy epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy fileDesc > extent {
  display: none;
}
.teibp.sleepy figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.teibp.sleepy g {
  /* Empty Rule Set */
}
.teibp.sleepy gap {
  /* GLS: Depending upon how we handle gap and lacuna, we may want to enclose in [] */
}
.teibp.sleepy gb {
  /* Empty Rule Set */
}
.teibp.sleepy gen {
  /* Empty Rule Set */
}
.teibp.sleepy genName {
  /* Empty Rule Set */
}
.teibp.sleepy geo {
  /* Empty Rule Set */
}
.teibp.sleepy geoDecl {
  /* Empty Rule Set */
}
.teibp.sleepy geogFeat {
  /* Empty Rule Set */
}
.teibp.sleepy geogName {
  /* Empty Rule Set */
}
.teibp.sleepy gi {
  font-family: Courier,monospace;
}
.teibp.sleepy gi:before {
  content: "<";
}
.teibp.sleepy gi:after {
  content: ">";
}
.teibp.sleepy gloss {
  /* Empty Rule Set */
}
.teibp.sleepy glyph {
  /* Empty Rule Set */
}
.teibp.sleepy glyphName {
  /* Empty Rule Set */
}
.teibp.sleepy gram {
  /* Empty Rule Set */
}
.teibp.sleepy gramGrp {
  /* Empty Rule Set */
}
.teibp.sleepy graph {
  /* Empty for now */
}
.teibp.sleepy graphic {
  display: none;
}
.teibp.sleepy group {
  /* Empty Rule Set */
}
.teibp.sleepy handDesc {
  /* Empty Rule Set */
}
.teibp.sleepy handNote {
  /* Empty Rule Set */
}
.teibp.sleepy handNotes {
  /* Empty Rule Set */
}
.teibp.sleepy handShift {
  /* Empty Rule Set */
}
.teibp.sleepy TEI head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
.teibp.sleepy body > head {
  font-size: 180%;
  text-indent: -0.5em;
}
.teibp.sleepy div > head {
  font-size: 170%;
  text-indent: -0.5em;
}
.teibp.sleepy div > div > head {
  font-size: 155%;
}
.teibp.sleepy div > div > div > head {
  font-size: 140%;
}
.teibp.sleepy div > div > div > div > head,
.teibp.sleepy list > head {
  font-size: 130%;
}
.teibp.sleepy div > div > div > div > div > head {
  font-size: 120%;
}
.teibp.sleepy div > div > div > div > div > div head {
  font-size: 110%;
}
.teibp.sleepy figure > head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Cochin, Georgia, Serif;
  font-size: 14pt;
}
.teibp.sleepy headItem {
  /* Empty Rule Set */
}
.teibp.sleepy headLabel {
  /* Empty Rule Set */
}
.teibp.sleepy height {
  /* Empty Rule Set */
}
.teibp.sleepy heraldry {
  /* Empty Rule Set */
}
.teibp.sleepy hi {
  /* GLS: do we want to bold this or change the background color? */
}
.teibp.sleepy history {
  /* Empty Rule Set */
}
.teibp.sleepy hom {
  /* Empty Rule Set */
}
.teibp.sleepy hyph {
  /* Empty Rule Set */
}
.teibp.sleepy hyphenation {
  /* Empty Rule Set */
}
.teibp.sleepy iNode {
  /* Empty Rule Set */
}
.teibp.sleepy iType {
  /* Empty Rule Set */
}
.teibp.sleepy ident {
  font-family: Courier,monospace;
}
.teibp.sleepy idno {
  /* Empty Rule Set */
}
.teibp.sleepy if {
  /* Empty Rule Set */
}
.teibp.sleepy iff {
  /* Empty Rule Set */
}
.teibp.sleepy imprimatur {
  /* Empty Rule Set */
}
.teibp.sleepy imprint {
  /* Empty Rule Set */
}
.teibp.sleepy incident {
  /* Empty Rule Set */
}
.teibp.sleepy incipit {
  /* Empty Rule Set */
}
.teibp.sleepy index {
  /* Empty Rule Set */
}
.teibp.sleepy institution {
  /* Empty Rule Set */
}
.teibp.sleepy interaction {
  /* Empty Rule Set */
}
.teibp.sleepy interpGrp {
  /* Empty Rule Set */
}
.teibp.sleepy interpretation {
  /* Empty Rule Set */
}
.teibp.sleepy item {
  display: list-item;
  margin-left: 1em;
}
.teibp.sleepy cell item {
  margin-left: 1em;
}
.teibp.sleepy list[type="gloss"] > item {
  margin-left: 2em;
}
.teibp.sleepy join {
  /* Empty Rule Set */
}
.teibp.sleepy joinGrp {
  /* Empty Rule Set */
}
.teibp.sleepy keywords {
  /* Empty Rule Set */
}
.teibp.sleepy kinesic {
  /* Empty Rule Set */
}
.teibp.sleepy l {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp.sleepy list[type="gloss"] > label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.teibp.sleepy lacunaEnd {
  /* Empty Rule Set */
}
.teibp.sleepy lacunaStart {
  /* Empty Rule Set */
}
.teibp.sleepy lang {
  /* Empty Rule Set */
}
.teibp.sleepy langKnowledge {
  /* Empty Rule Set */
}
.teibp.sleepy langKnown {
  /* Empty Rule Set */
}
.teibp.sleepy langUsage {
  /* Empty Rule Set */
}
.teibp.sleepy language {
  /* Empty Rule Set */
}
.teibp.sleepy layout {
  /* Empty Rule Set */
}
.teibp.sleepy layoutDesc {
  /* Empty Rule Set */
}
.teibp.sleepy lb {
  /* Empty Rule Set */
}
.teibp.sleepy lb:after {
  content: '\a';
  white-space: pre;
}
.teibp.sleepy lbl {
  /* Empty Rule Set */
}
.teibp.sleepy leaf {
  /* Empty Rule Set */
}
.teibp.sleepy lem {
  /* Empty Rule Set */
}
.teibp.sleepy lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy link {
  /* Empty Rule Set */
}
.teibp.sleepy linkGrp {
  /* Empty Rule Set */
}
.teibp.sleepy list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy item > list {
  margin-top: 0;
}
.teibp.sleepy text list[type=simple] {
  list-style-type: none;
}
.teibp.sleepy text list[type=bulleted] {
  list-style-type: disc;
}
.teibp.sleepy text list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}
.teibp.sleepy text list[type=ordered] > item {
  display: list-item;
  margin-left: 0;
}
.teibp.sleepy item > list[type=ordered] {
  margin-left: 1em;
}
.teibp.sleepy text list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
.teibp.sleepy text list[type=gloss] {
  list-style-type: none;
}
.teibp.sleepy item > list[type=ordered] {
  margin-left: 1em;
}
.teibp.sleepy localName {
  /* Empty Rule Set */
}
.teibp.sleepy locale {
  /* Empty Rule Set */
}
.teibp.sleepy location {
  /* Empty Rule Set */
}
.teibp.sleepy locus {
  /* Empty Rule Set */
}
.teibp.sleepy locusGrp {
  /* Empty Rule Set */
}
.teibp.sleepy m {
  /* Empty Rule Set */
}
.teibp.sleepy macroRef {
  /* Empty Rule Set NOT SURE WHAT EXACTLY*/
}
.teibp.sleepy macroSpec {
  /* dunno */
}
.teibp.sleepy mapping {
  /* not sure, maybe create rends for a few standard types, maybe hide */
}
.teibp.sleepy material {
  /* Empty Rule Set */
}
.teibp.sleepy measure {
  /* Empty Rule Set */
}
.teibp.sleepy measureGrp {
  /* probably want to display attributes, at least units and type */
}
.teibp.sleepy meeting {
  /*Block */
}
.teibp.sleepy memberOf {
  /* Empty Rule Set */
}
.teibp.sleepy mentioned {
  /* think do nothing, not real clear on function, maybe hide? */
}
.teibp.sleepy metDecl {
  /* Empty Rule Set */
}
.teibp.sleepy metSym {
  /* Empty Rule Set */
}
.teibp.sleepy milestone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.teibp.sleepy milestone:before {
  content: "* * * * *";
}
.teibp.sleepy moduleRef {
  /* probably hide, not sure how we want to deal */
}
.teibp.sleepy moduleSpec {
  /* probably hide, not sure how we want to deal */
}
.teibp.sleepy monogr {
  /* block with space above, below */
}
.teibp.sleepy mood {
  /* Empty Rule Set */
}
.teibp.sleepy move {
  /* not sure, block, maybe just ital, maybe in parenths*/
}
.teibp.sleepy msContents .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy msDesc {
  /* block with space above, below */
}
.teibp.sleepy msIdentifier {
  /* block */
}
.teibp.sleepy msItem {
  /* block */
}
.teibp.sleepy msItemStruct {
  /* block */
}
.teibp.sleepy msName {
  /* Empty Rule Set */
}
.teibp.sleepy msPart {
  /* not sure, think block */
}
.teibp.sleepy musicNotation {
  font-weight: bold;
}
.teibp.sleepy musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
.teibp.sleepy name {
  /* Empty Rule Set */
}
.teibp.sleepy nameLink {
  /* Empty Rule Set */
}
.teibp.sleepy namespace {
  /* not sure, hide? */
}
.teibp.sleepy nationality {
  /* Empty Rule Set */
}
.teibp.sleepy node {
  display: none;
}
.teibp.sleepy normalization {
  /* Empty Rule Set */
}
.teibp.sleepy note {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.sleepy notesStmt {
  /* do we want to box each individual <note> if they're in a <notesStmt>? */
  display: none;
}
.teibp.sleepy num {
  /* Empty Rule Set */
}
.teibp.sleepy number {
  /* Empty Rule Set */
}
.teibp.sleepy numeric {
  /* not sure, depends how we're dealing with <f>'s */
}
.teibp.sleepy nym {
  /* not really sure here */
}
.teibp.sleepy oRef {
  /* not sure, think do nothing */
}
.teibp.sleepy oVar {
  font-style: italic;
}
.teibp.sleepy objectDesc {
  /* Empty Rule Set */
}
.teibp.sleepy objectType {
  /* Empty Rule Set */
}
.teibp.sleepy occupation {
  /* Empty Rule Set */
}
.teibp.sleepy offset {
  /* Empty Rule Set */
}
.teibp.sleepy opener {
  /* Empty Rule Set */
}
.teibp.sleepy org {
  /* Empty Rule Set */
}
.teibp.sleepy orgName {
  /* Empty Rule Set */
}
.teibp.sleepy origDate {
  /* Empty Rule Set */
}
.teibp.sleepy origPlace {
  font-weight: bold;
}
.teibp.sleepy origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}
.teibp.sleepy origin {
  /* Empty Rule Set */
}
.teibp.sleepy p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
.teibp.sleepy *[rendition~="#center"] p {
  text-align: center;
}
.teibp.sleepy availability > p:first-child {
  margin-top: 0em;
}
.teibp.sleepy pRef {
  /* rend attribute target */
}
.teibp.sleepy pVar {
  /* rend attribute target */
}
.teibp.sleepy particDesc {
  /* Empty Rule Set */
}
.teibp.sleepy pause {
  /* Empty Rule Set*/
}
.teibp.sleepy pb {
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 11pt;
}
.teibp.sleepy pc {
  /* Empty Rule Set */
}
.teibp.sleepy per {
  /* don't know, check back */
}
.teibp.sleepy performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy persName {
  /* Empty Rule Set */
}
.teibp.sleepy person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy phr {
  /* Empty Rule Set */
}
.teibp.sleepy physDesc {
  /* Empty Rule Set */
}
.teibp.sleepy place {
  /* Empty Rule Set */
}
.teibp.sleepy placeName {
  /* Empty Rule Set */
}
.teibp.sleepy population {
  /* dunno with this one */
}
.teibp.sleepy pos {
  /* Empty Rule Set */
}
.teibp.sleepy postBox {
  /* Empty Rule Set */
}
.teibp.sleepy postCode {
  /* Empty Rule Set */
}
.teibp.sleepy postscript {
  display: block;
  margin-top: 2em;
}
.teibp.sleepy precision {
  /* Empty Rule Set */
}
.teibp.sleepy preparedness {
  /* Empty Rule Set */
}
.teibp.sleepy principal {
  font-weight: bold;
}
.teibp.sleepy principal:before {
  font-weight: bold;
  content: "Principal: ";
}
.teibp.sleepy profileDesc {
  display: none;
}
.teibp.sleepy projectDesc {
  /* Empty Rule Set */
}
.teibp.sleepy prologue {
  /* Empty Rule Set */
}
.teibp.sleepy pron {
  /* Empty Rule Set */
}
.teibp.sleepy provenance {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy ptr {
  /* dunno */
}
.teibp.sleepy pubPlace {
  /* Empty Rule Set */
}
.teibp.sleepy publicationStmt > * {
  display: none;
}
.teibp.sleepy publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy publicationStmt > date {
  display: none;
}
.teibp.sleepy publicationStmt > publisher {
  display: none;
}
.teibp.sleepy purpose {
  /* Empty Rule Set */
}
.teibp.sleepy q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepy q:before {
  content: open-quote;
}
.teibp.sleepy q:after {
  content: close-quote;
}
.teibp.sleepy q[next]:after {
  content: "" !important;
}
.teibp.sleepy q[prev]:before {
  content: "" !important;
}
.teibp.sleepy quotation {
  /* Empty Rule Set */
}
.teibp.sleepy quote {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepy quote:before {
  content: open-quote;
}
.teibp.sleepy quote:after {
  content: close-quote;
}
.teibp.sleepy quote[next]:after {
  content: "" !important;
}
.teibp.sleepy quote[prev]:before {
  content: "" !important;
}
.teibp.sleepy rdg {
  /*perhaps choice */
}
.teibp.sleepy rdgGrp {
  /* Empty Rule Set */
}
.teibp.sleepy re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy recordHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy recording {
  /* not sure here, only in header? */
}
.teibp.sleepy recordingStmt {
  /* Empty Rule Set */
}
.teibp.sleepy ref {
  /*include link if target */
}
.teibp.sleepy region {
  /* Empty Rule Set */
}
.teibp.sleepy relatedItem {
  /* Empty Rule Set */
}
.teibp.sleepy relation {
  /* Don't Know*/
}
.teibp.sleepy relationGrp {
  /* Empty Rule Set */
}
.teibp.sleepy remarks {
  font-weight: bold;
}
.teibp.sleepy remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
.teibp.sleepy rendition {
  /*Don't remember what we decided to do with this*/
}
.teibp.sleepy repository {
  /* Empty Rule Set */
}
.teibp.sleepy residence {
  /* Empty Rule Set */
}
.teibp.sleepy resp {
  /* Empty Rule Set */
}
.teibp.sleepy respStmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy restore {
  /* footnote or sidenote perhaps*/
}
.teibp.sleepy revisionDesc {
  display: none;
}
.teibp.sleepy rhyme {
  /* Empty Rule Set */
}
.teibp.sleepy role {
  /* put on same line as roledesc? */
}
.teibp.sleepy roleDesc {
  /* put on same line as role */
}
.teibp.sleepy roleName {
  /* Empty Rule Set */
}
.teibp.sleepy root {
  /* don't know */
}
.teibp.sleepy row {
  display: table-row;
}
.teibp.sleepy rs {
  /* Empty Rule Set */
}
.teibp.sleepy s {
  text-decoration: none;
}
.teibp.sleepy said {
  /* Empty Rule Set */
}
.teibp.sleepy salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy samplingDecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy schemaSpec {
  /*NOT SURE, talk over with group */
}
.teibp.sleepy scriptDesc {
  /*NOT SURE, talk over with group */
}
.teibp.sleepy scriptNote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy scriptStmt {
  /* not sure */
}
.teibp.sleepy seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy seal:before {
  font-weight: bold;
  content: "Seal: ";
}
.teibp.sleepy sealDesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
.teibp.sleepy seg {
  /* Empty Set Rule */
}
.teibp.sleepy segmentation {
  /* Empty Rule Set */
}
.teibp.sleepy sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy series {
  /* treat same as seriesstmt? */
}
.teibp.sleepy seriesStmt {
  display: none;
}
.teibp.sleepy set {
  /* Empty Set Rule */
}
.teibp.sleepy setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy settingDesc {
  /* Empty Set Rule */
}
.teibp.sleepy settlement {
  /* Empty Set Rule */
}
.teibp.sleepy sex {
  /* Empty Rule Set */
}
.teibp.sleepy shift {
  /* seems a bit to complex to do anything with */
}
.teibp.sleepy sic {
  /* rend as choice when contained within a choice tag, perhaps as label with parenthesis after when alone */
}
.teibp.sleepy signatures {
  /* DON't KNOW, look again later */
}
.teibp.sleepy signed {
  display: block;
  margin-top: 2em;
  /*should make name a block when contained within  */
}
.teibp.sleepy soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepy soCalled:before {
  content: open-quote;
}
.teibp.sleepy soCalled:after {
  content: close-quote;
}
.teibp.sleepy soCalled[next]:after {
  content: "" !important;
}
.teibp.sleepy soCalled[prev]:before {
  content: "" !important;
}
.teibp.sleepy socecStatus {
  /* Empty Set Rule */
}
.teibp.sleepy sound {
  font-style: italic;
}
.teibp.sleepy source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.sleepy sourceDesc {
  display: none;
}
.teibp.sleepy sp {
  /*empty rule set*/
}
.teibp.sleepy space:before {
  font-weight: bold;
  content: "";
}
.teibp.sleepy TEI span {
  display: none;
}
.teibp.sleepy TEI egXML span {
  display: inline;
}
.teibp.sleepy spanGrp {
  /* NOT SURE, look back on */
}
.teibp.sleepy speaker {
  font-weight: bold;
  margin-right: 0;
}
.teibp.sleepy specDesc {
  /* NOT SURE, look back on */
}
.teibp.sleepy specGrp {
  /* NOT SURE, look back on */
}
.teibp.sleepy specGrpRef {
  /* NOT SURE, look back on */
}
.teibp.sleepy specList {
  /* Empty Set Rule */
}
.teibp.sleepy sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /* Block element, maybe labeled  */
}
.teibp.sleepy sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}
.teibp.sleepy stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
.teibp.sleepy stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.sleepy stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}
.teibp.sleepy state {
  /* Empty Set Rule */
}
.teibp.sleepy stdVals {
  /* Empty Set Rule */
}
.teibp.sleepy street {
  /* Empty Set Rule */
}
.teibp.sleepy stress {
  /* Empty Set Rule */
}
.teibp.sleepy string {
  /* Empty Set Rule */
}
.teibp.sleepy stringVal {
  /* doesn't seem to be part of tei 5 */
}
.teibp.sleepy subc {
  /* Empty Set Rule */
}
.teibp.sleepy subst {
  /* Empty Set Rule */
}
.teibp.sleepy summary {
  /* Empty Set Rule */
}
.teibp.sleepy superEntry {
  /* Block with space above and below, maybe have no block and space for <entry> when contained by this element */
}
.teibp.sleepy supplied {
  /* not sure on this one, seems like we should indicate somehow. Is there a standard way to do this? */
}
.teibp.sleepy support {
  /* Empty Set Rule */
}
.teibp.sleepy supportDesc {
  /* do nothing with or maybe block */
}
.teibp.sleepy surface {
  /* choice */
}
.teibp.sleepy surname {
  /* Empty Set Rule */
}
.teibp.sleepy surplus {
  display: none;
}
.teibp.sleepy surrogates {
  /*Empty Rule Set */
}
.teibp.sleepy syll {
  /* Empty Set Rule */
}
.teibp.sleepy symbol {
  /* Empty Set Rule */
}
.teibp.sleepy TEI {
  display: block;
}
.teibp.sleepy table {
  border-collapse: separate;
  border-spacing: 2px;
}
.teibp.sleepy TEI table {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
.teibp.sleepy table > head {
  text-align: center;
}
.teibp.sleepy teiHeader {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #999;
}
.teibp.sleepy TEI > text {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  line-height: 1.5;
}
.teibp.sleepy textClass {
  display: none;
}
.teibp.sleepy textDesc {
  display: none;
}
.teibp.sleepy TEI title {
  display: inline;
}
.teibp.sleepy TEI title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.sleepy TEI title[level=a]:before {
  content: open-quote;
}
.teibp.sleepy TEI title[level=a]:after {
  content: close-quote;
}
.teibp.sleepy TEI title[level=a][next]:after {
  content: "" !important;
}
.teibp.sleepy TEI title[level=a][prev]:before {
  content: "" !important;
}
.teibp.sleepy title[level=m] {
  font-style: italic;
}
.teibp.sleepy titleStmt > title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
.teibp.sleepy titleStmt > editor:before {
  content: "Edited by ";
}
.teibp.sleepy typeDesc {
  display: none;
}
.teibp.sleepy u:before {
  content: "-";
}
.teibp.sleepy unicodeName {
  /* Empty Rule Set */
}
.teibp.sleepy usg {
  /* Empty Rule Set */
}
.teibp.sleepy vAlt {
  /* Empty Rule Set */
}
.teibp.sleepy vColl {
  /* Empty Rule Set */
}
.teibp.sleepy vDefault {
  /* Empty Rule Set */
}
.teibp.sleepy vLabel {
  /* Empty Rule Set */
}
.teibp.sleepy vMerge {
  /* Empty Rule Set */
}
.teibp.sleepy vNot {
  /* Empty Rule Set */
}
.teibp.sleepy vRange {
  /* Empty Rule Set */
}
.teibp.sleepy val {
  /* Empty Rule Set */
}
.teibp.sleepy valDesc {
  /* Empty Rule Set */
}
.teibp.sleepy valItem {
  /* Empty Rule Set */
}
.teibp.sleepy valList {
  /* Empty Rule Set */
}
.teibp.sleepy value {
  /* Empty Rule Set */
}
.teibp.sleepy variantEncoding {
  /* Empty Rule Set */
}
.teibp.sleepy view {
  font-style: italic;
}
.teibp.sleepy vocal {
  /* Empty Rule Set */
}
.teibp.sleepy w {
  /* Empty Rule Set */
}
.teibp.sleepy watermark {
  /* Empty Rule Set */
}
.teibp.sleepy width {
  /* Empty Rule Set */
}
.teibp.sleepy wit {
  /* Empty Rule Set */
}
.teibp.sleepy witDetail {
  /* Empty Rule Set */
}
.teibp.sleepy witEnd {
  /* Empty Rule Set */
}
.teibp.sleepy witStart {
  /* Empty Rule Set */
}
.teibp.sleepy witness {
  /* Empty Rule Set */
}
.teibp.sleepy writing {
  /* Empty Rule Set */
}
.teibp.sleepy xr {
  /* Empty Rule Set */
}
.teibp.sleepy zone {
  /* Empty Rule Set */
}
/* styles for .teibp shell and html elements in TEI (e.g.,<a> and <img>) */
.teibp.sleepy {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Cochin, Georgia, Serif;
  font-size: 14pt;
  background-color: #000000;
  color: #ffffff;
  width: 33em;
  /* xml-serialization */
  /* loading animation */
}
.teibp.sleepy img {
  border: 1px solid #444444;
}
.teibp.sleepy #footer {
  margin-top: 1em;
  border-top: 1px solid #ffffff;
  padding-top: .5em;
  font-size: 12pt;
}
.teibp.sleepy a:link,
.teibp.sleepy a:visited,
.teibp.sleepy a:active {
  color: #1cc0fa;
  text-decoration: none;
}
.teibp.sleepy a:hover {
  color: #1cc0fa;
  text-decoration: underline;
}
.teibp.sleepy #teibpToolbox {
  left: 56em;
  top: 25px;
  position: fixed;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #444444;
  background: #252525;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 12em;
}
.teibp.sleepy #teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #444444;
}
.teibp.sleepy .eg-element {
  color: #0165c8;
}
.teibp.sleepy .eg-comment {
  color: gray;
}
.teibp.sleepy .eg-att,
.teibp.sleepy .eg-nsdecl {
  color: #f58650;
}
.teibp.sleepy .eg-attvalue,
.teibp.sleepy .eg-ns {
  color: #993300;
}
.teibp.sleepy .eg-text {
  color: #ffffff;
}
.teibp.sleepy #loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
/* Sleepy Time Theme */
