/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.default {
  /* US Style Quotes */
  /* UK-Style Quotes */
  /* Choice elements */
  /* A */
  /* add */
  /* Could add other [place=] variations */
  /* B */
  /* c */
  /* for cell or row with @role = label */
  /* jawalsh:
	For things like collation, condition, etc. that can have text or paragraphs as
	children, we should use margins, when the content is text, and no margins when there
	are child paragraphs (or other block elements). Otherwise we end up with double
	margins. */
  /* jawalsh:
	Need to discuss and coordinate handling of sic/corr, abbr/expan, and orig/reg */
  /*jawalsh:
	Need to handle attributes for custEvent. All the att.datable* attributes will be tricky.
	custodialHist and custEvent may normally be hidden along with other header metadata, but
	we'll have other datable elements that may be tricky. */
  /* d */
  /* e */
  /* f */
  /* g */
  /* h */
  /* Need head with TEI parent to distinguish from HTML head */
  /* i */
  /* j */
  /* k */
  /* l */
  /* Match only lists that are descendants of
	text. Otherwise they show up in the header. */
  /* m */
  /* n */
  /* o */
  /* p */
  /*
	pb:before {
		content: "[page:\a0" attr(n) "]";
	}
	*/
  /* q */
  /* r */
  /* hide */
  /*label*/
  /* s */
  /* When TEI document is embedded in HTML page,
	   TEI's <s> element can be interpreted by
	   browser as HTML <s>, which results in
	   a strike-through from the "user agent"
	   styles. */
  /* t */
  /* Why is this selector "TEI table" instead of just "table"? */
  /* title */
  /* Need TEI ancestor to distinguish TEI title from HTML title */
  /* u */
  /* v */
  /* w */
  /* x */
  /* z */
}
.teibp.default .note-like {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.default .quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.default .quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.teibp.default .quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.default .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default .hide {
  display: none;
}
.teibp.default .mono {
  font-family: Courier,monospace;
}
.teibp.default .table-border {
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #aaaaaa;
}
.teibp.default choice abbr + expan:before,
.teibp.default choice expan + abbr:before,
.teibp.default choice sic + corr:before,
.teibp.default choice corr + sic:before,
.teibp.default choice orig + reg:before,
.teibp.default choice reg + orig:before {
  content: " (";
}
.teibp.default choice abbr + expan:after,
.teibp.default choice expan + abbr:after,
.teibp.default choice sic + corr:after,
.teibp.default choice corr + sic:after,
.teibp.default choice orig + reg:after,
.teibp.default choice reg + orig:after {
  content: ")";
}
.teibp.default ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default accMat {
  display: block;
}
.teibp.default accMat:before {
  content: "accompanying materials: ";
}
.teibp.default acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
.teibp.default activity {
  display: block;
}
.teibp.default activity:before {
  content: "activity: ";
}
.teibp.default actor {
  /* Empty Rule Set */
}
.teibp.default add {
  vertical-align: super;
}
.teibp.default add[place=below] {
  vertical-align: sub;
}
.teibp.default addName {
  /* Empty Rule Set */
}
.teibp.default addSpan {
  /* Empty Rule Set */
}
.teibp.default additional {
  display: block;
}
.teibp.default additions {
  display: block;
}
.teibp.default additions:before {
  content: "Significant additions within the document: ";
}
.teibp.default addrLine {
  display: block;
}
.teibp.default address {
  /* Empty Rule Set */
}
.teibp.default address[rend~="block"],
.teibp.default addresss[rendition~="#block"] {
  display: block;
}
.teibp.default adminInfo {
  display: block;
}
.teibp.default affiliation {
  /* Empty Rule Set */
}
.teibp.default age {
  /* Empty Rule Set */
}
.teibp.default alt {
  /* Empty Rule Set */
}
.teibp.default altGrp {
  /* Empty Rule Set */
}
.teibp.default altIdent {
  /* Empty Rule Set */
}
.teibp.default altIdentifier {
  display: block;
}
.teibp.default altIdentifier:before {
  content: "Alternate ID: ";
}
.teibp.default am {
  /* Empty Rule Set */
}
.teibp.default analytic {
  /* Empty Rule Set */
}
.teibp.default anchor {
  /* Empty Rule Set */
}
.teibp.default app {
  display: block;
}
.teibp.default appInfo {
  display: block;
}
.teibp.default appInfo:before {
  content: "Application information: ";
}
.teibp.default application {
  display: block;
}
.teibp.default application:after {
  content: " " attr(version);
}
.teibp.default arc {
  /* Empty Rule Set */
}
.teibp.default argument {
  display: block;
}
.teibp.default att {
  font-family: Courier,monospace;
}
.teibp.default att:before {
  content: "@";
}
.teibp.default attDef {
  /* Empty Rule Set */
}
.teibp.default attList {
  /* Empty Rule Set */
}
.teibp.default attRef {
  /* Empty Rule Set */
}
.teibp.default author {
  /* Empty Rule Set */
}
.teibp.default titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
.teibp.default authority {
  /* Empty Rule Set */
}
.teibp.default publicationStmt > availability {
  font-size: 80%;
}
.teibp.default publicationStmt > availability:before {
  font-weight: bold;
  content: "Availability: ";
}
.teibp.default publicationStmt > availability[status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
.teibp.default back {
  display: block;
}
.teibp.default bibl {
  /* Empty Rule Set */
}
.teibp.default bibl[rend~="block"],
.teibp.default bibl[rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp.default biblFull {
  display: block;
}
.teibp.default biblScope {
  /* Empty Rule Set */
}
.teibp.default biblStruct {
  /* Empty Rule Set */
}
.teibp.default bicond {
  /* Empty Rule Set */
}
.teibp.default binary {
  /* Empty Rule Set */
}
.teibp.default binaryObject {
  /* Empty Rule Set */
}
.teibp.default binding {
  display: block;
}
.teibp.default binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}
.teibp.default binding[contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
.teibp.default bindingDesc {
  display: block;
}
.teibp.default bindngDesc:before {
  content: "Binding Description: \A";
}
.teibp.default birth {
  display: block;
}
.teibp.default birth:before {
  content: "Birth: ";
}
.teibp.default bloc {
  /* Empty Rule Set */
}
.teibp.default broadcast {
  /* Empty Rule Set */
}
.teibp.default byline {
  /* Empty Rule Set */
}
.teibp.default c {
  /* Empty Rule Set */
}
.teibp.default cRefPattern {
  display: none;
}
.teibp.default caesura {
  /* Empty Rule Set */
}
.teibp.default camera {
  /* Empty Rule Set */
}
.teibp.default caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default case[value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
.teibp.default castGroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default castItem {
  display: list-item;
  list-style-type: none;
}
.teibp.default castList {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.teibp.default catDesc {
  /* Empty Rule Set */
}
.teibp.default catRef {
  /* Empty Rule Set */
}
.teibp.default category {
  /* Empty Rule Set */
}
.teibp.default cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default cb:before {
  content: "[column break]";
}
.teibp.default cell {
  display: table-cell;
  padding: 1em 1.5em 1em 1em;
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #aaaaaa;
  width: 100%;
}
.teibp.default [role=label] {
  font-weight: bold;
}
.teibp.default certainty {
  /* Empty Rule Set */
}
.teibp.default change {
  /* Empty Rule Set */
}
.teibp.default channel {
  /* Empty Rule Set */
}
.teibp.default charDecl {
  /* Empty Rule Set */
}
.teibp.default charName {
  /* Empty Rule Set */
}
.teibp.default charProp {
  /* Empty Rule Set */
}
.teibp.default choice {
  /* Empty Rule Set */
}
.teibp.default cit {
  /* Empty Rule Set */
}
.teibp.default cl {
  /* Empty Rule Set */
}
.teibp.default classCode {
  /* Empty Rule Set */
}
.teibp.default classDecl {
  /* Empty Rule Set */
}
.teibp.default classRef {
  /* Empty Rule Set */
}
.teibp.default classSpec {
  /* Empty Rule Set */
}
.teibp.default classes {
  /* Empty Rule Set */
}
.teibp.default climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default climate:before {
  font-weight: bold;
  content: "Climate: ";
}
.teibp.default closer {
  /* Empty Rule Set */
}
.teibp.default code {
  font-family: Courier,monospace;
}
.teibp.default collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default collection {
  /* Empty Rule Set */
}
.teibp.default colloc {
  /* Empty Rule Set */
}
.teibp.default colophon {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default cond {
  /* Empty Rule Set */
}
.teibp.default condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
.teibp.default constitution[type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default constitution[type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
.teibp.default constitution[type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default constitution[type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
.teibp.default constraint {
  /* Empty Rule Set */
}
.teibp.default constraintSpec {
  /* Empty Rule Set */
}
.teibp.default content {
  /* Empty Rule Set */
}
.teibp.default corr {
  /* Empty Rule Set */
}
.teibp.default correction {
  /* Empty Rule Set */
}
.teibp.default country {
  /* Empty Rule Set */
}
.teibp.default creation {
  /* Empty Rule Set */
}
.teibp.default custEvent {
  display: list-item;
}
.teibp.default custodialHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default date[when]:empty:before {
  content: attr(when);
}
.teibp.default egXML {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #aaaaaa;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
.teibp.default encodingDesc {
  display: none;
}
.teibp.default epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default fileDesc > extent {
  display: none;
}
.teibp.default figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.teibp.default g {
  /* Empty Rule Set */
}
.teibp.default gap {
  /* GLS: Depending upon how we handle gap and lacuna, we may want to enclose in [] */
}
.teibp.default gb {
  /* Empty Rule Set */
}
.teibp.default gen {
  /* Empty Rule Set */
}
.teibp.default genName {
  /* Empty Rule Set */
}
.teibp.default geo {
  /* Empty Rule Set */
}
.teibp.default geoDecl {
  /* Empty Rule Set */
}
.teibp.default geogFeat {
  /* Empty Rule Set */
}
.teibp.default geogName {
  /* Empty Rule Set */
}
.teibp.default gi {
  font-family: Courier,monospace;
}
.teibp.default gi:before {
  content: "<";
}
.teibp.default gi:after {
  content: ">";
}
.teibp.default gloss {
  /* Empty Rule Set */
}
.teibp.default glyph {
  /* Empty Rule Set */
}
.teibp.default glyphName {
  /* Empty Rule Set */
}
.teibp.default gram {
  /* Empty Rule Set */
}
.teibp.default gramGrp {
  /* Empty Rule Set */
}
.teibp.default graph {
  /* Empty for now */
}
.teibp.default graphic {
  display: none;
}
.teibp.default group {
  /* Empty Rule Set */
}
.teibp.default handDesc {
  /* Empty Rule Set */
}
.teibp.default handNote {
  /* Empty Rule Set */
}
.teibp.default handNotes {
  /* Empty Rule Set */
}
.teibp.default handShift {
  /* Empty Rule Set */
}
.teibp.default TEI head {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
}
.teibp.default body > head {
  font-size: 180%;
  text-indent: -0.5em;
}
.teibp.default div > head {
  font-size: 170%;
  text-indent: -0.5em;
}
.teibp.default div > div > head {
  font-size: 155%;
}
.teibp.default div > div > div > head {
  font-size: 140%;
}
.teibp.default div > div > div > div > head,
.teibp.default list > head {
  font-size: 130%;
}
.teibp.default div > div > div > div > div > head {
  font-size: 120%;
}
.teibp.default div > div > div > div > div > div head {
  font-size: 110%;
}
.teibp.default figure > head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Cochin, Georgia, Serif;
  font-size: 14pt;
}
.teibp.default headItem {
  /* Empty Rule Set */
}
.teibp.default headLabel {
  /* Empty Rule Set */
}
.teibp.default height {
  /* Empty Rule Set */
}
.teibp.default heraldry {
  /* Empty Rule Set */
}
.teibp.default hi {
  /* GLS: do we want to bold this or change the background color? */
}
.teibp.default history {
  /* Empty Rule Set */
}
.teibp.default hom {
  /* Empty Rule Set */
}
.teibp.default hyph {
  /* Empty Rule Set */
}
.teibp.default hyphenation {
  /* Empty Rule Set */
}
.teibp.default iNode {
  /* Empty Rule Set */
}
.teibp.default iType {
  /* Empty Rule Set */
}
.teibp.default ident {
  font-family: Courier,monospace;
}
.teibp.default idno {
  /* Empty Rule Set */
}
.teibp.default if {
  /* Empty Rule Set */
}
.teibp.default iff {
  /* Empty Rule Set */
}
.teibp.default imprimatur {
  /* Empty Rule Set */
}
.teibp.default imprint {
  /* Empty Rule Set */
}
.teibp.default incident {
  /* Empty Rule Set */
}
.teibp.default incipit {
  /* Empty Rule Set */
}
.teibp.default index {
  /* Empty Rule Set */
}
.teibp.default institution {
  /* Empty Rule Set */
}
.teibp.default interaction {
  /* Empty Rule Set */
}
.teibp.default interpGrp {
  /* Empty Rule Set */
}
.teibp.default interpretation {
  /* Empty Rule Set */
}
.teibp.default item {
  display: list-item;
  margin-left: 1em;
}
.teibp.default cell item {
  margin-left: 1em;
}
.teibp.default list[type="gloss"] > item {
  margin-left: 2em;
}
.teibp.default join {
  /* Empty Rule Set */
}
.teibp.default joinGrp {
  /* Empty Rule Set */
}
.teibp.default keywords {
  /* Empty Rule Set */
}
.teibp.default kinesic {
  /* Empty Rule Set */
}
.teibp.default l {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp.default list[type="gloss"] > label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.teibp.default lacunaEnd {
  /* Empty Rule Set */
}
.teibp.default lacunaStart {
  /* Empty Rule Set */
}
.teibp.default lang {
  /* Empty Rule Set */
}
.teibp.default langKnowledge {
  /* Empty Rule Set */
}
.teibp.default langKnown {
  /* Empty Rule Set */
}
.teibp.default langUsage {
  /* Empty Rule Set */
}
.teibp.default language {
  /* Empty Rule Set */
}
.teibp.default layout {
  /* Empty Rule Set */
}
.teibp.default layoutDesc {
  /* Empty Rule Set */
}
.teibp.default lb {
  /* Empty Rule Set */
}
.teibp.default lb:after {
  content: '\a';
  white-space: pre;
}
.teibp.default lbl {
  /* Empty Rule Set */
}
.teibp.default leaf {
  /* Empty Rule Set */
}
.teibp.default lem {
  /* Empty Rule Set */
}
.teibp.default lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default link {
  /* Empty Rule Set */
}
.teibp.default linkGrp {
  /* Empty Rule Set */
}
.teibp.default list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default item > list {
  margin-top: 0;
}
.teibp.default text list[type=simple] {
  list-style-type: none;
}
.teibp.default text list[type=bulleted] {
  list-style-type: disc;
}
.teibp.default text list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}
.teibp.default text list[type=ordered] > item {
  display: list-item;
  margin-left: 0;
}
.teibp.default item > list[type=ordered] {
  margin-left: 1em;
}
.teibp.default text list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
.teibp.default text list[type=gloss] {
  list-style-type: none;
}
.teibp.default item > list[type=ordered] {
  margin-left: 1em;
}
.teibp.default localName {
  /* Empty Rule Set */
}
.teibp.default locale {
  /* Empty Rule Set */
}
.teibp.default location {
  /* Empty Rule Set */
}
.teibp.default locus {
  /* Empty Rule Set */
}
.teibp.default locusGrp {
  /* Empty Rule Set */
}
.teibp.default m {
  /* Empty Rule Set */
}
.teibp.default macroRef {
  /* Empty Rule Set NOT SURE WHAT EXACTLY*/
}
.teibp.default macroSpec {
  /* dunno */
}
.teibp.default mapping {
  /* not sure, maybe create rends for a few standard types, maybe hide */
}
.teibp.default material {
  /* Empty Rule Set */
}
.teibp.default measure {
  /* Empty Rule Set */
}
.teibp.default measureGrp {
  /* probably want to display attributes, at least units and type */
}
.teibp.default meeting {
  /*Block */
}
.teibp.default memberOf {
  /* Empty Rule Set */
}
.teibp.default mentioned {
  /* think do nothing, not real clear on function, maybe hide? */
}
.teibp.default metDecl {
  /* Empty Rule Set */
}
.teibp.default metSym {
  /* Empty Rule Set */
}
.teibp.default milestone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.teibp.default milestone:before {
  content: "* * * * *";
}
.teibp.default moduleRef {
  /* probably hide, not sure how we want to deal */
}
.teibp.default moduleSpec {
  /* probably hide, not sure how we want to deal */
}
.teibp.default monogr {
  /* block with space above, below */
}
.teibp.default mood {
  /* Empty Rule Set */
}
.teibp.default move {
  /* not sure, block, maybe just ital, maybe in parenths*/
}
.teibp.default msContents .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default msDesc {
  /* block with space above, below */
}
.teibp.default msIdentifier {
  /* block */
}
.teibp.default msItem {
  /* block */
}
.teibp.default msItemStruct {
  /* block */
}
.teibp.default msName {
  /* Empty Rule Set */
}
.teibp.default msPart {
  /* not sure, think block */
}
.teibp.default musicNotation {
  font-weight: bold;
}
.teibp.default musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
.teibp.default name {
  /* Empty Rule Set */
}
.teibp.default nameLink {
  /* Empty Rule Set */
}
.teibp.default namespace {
  /* not sure, hide? */
}
.teibp.default nationality {
  /* Empty Rule Set */
}
.teibp.default node {
  display: none;
}
.teibp.default normalization {
  /* Empty Rule Set */
}
.teibp.default note {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp.default notesStmt {
  /* do we want to box each individual <note> if they're in a <notesStmt>? */
  display: none;
}
.teibp.default num {
  /* Empty Rule Set */
}
.teibp.default number {
  /* Empty Rule Set */
}
.teibp.default numeric {
  /* not sure, depends how we're dealing with <f>'s */
}
.teibp.default nym {
  /* not really sure here */
}
.teibp.default oRef {
  /* not sure, think do nothing */
}
.teibp.default oVar {
  font-style: italic;
}
.teibp.default objectDesc {
  /* Empty Rule Set */
}
.teibp.default objectType {
  /* Empty Rule Set */
}
.teibp.default occupation {
  /* Empty Rule Set */
}
.teibp.default offset {
  /* Empty Rule Set */
}
.teibp.default opener {
  /* Empty Rule Set */
}
.teibp.default org {
  /* Empty Rule Set */
}
.teibp.default orgName {
  /* Empty Rule Set */
}
.teibp.default origDate {
  /* Empty Rule Set */
}
.teibp.default origPlace {
  font-weight: bold;
}
.teibp.default origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}
.teibp.default origin {
  /* Empty Rule Set */
}
.teibp.default p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
.teibp.default *[rendition~="#center"] p {
  text-align: center;
}
.teibp.default availability > p:first-child {
  margin-top: 0em;
}
.teibp.default pRef {
  /* rend attribute target */
}
.teibp.default pVar {
  /* rend attribute target */
}
.teibp.default particDesc {
  /* Empty Rule Set */
}
.teibp.default pause {
  /* Empty Rule Set*/
}
.teibp.default pb {
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 11pt;
}
.teibp.default pc {
  /* Empty Rule Set */
}
.teibp.default per {
  /* don't know, check back */
}
.teibp.default performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default persName {
  /* Empty Rule Set */
}
.teibp.default person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default phr {
  /* Empty Rule Set */
}
.teibp.default physDesc {
  /* Empty Rule Set */
}
.teibp.default place {
  /* Empty Rule Set */
}
.teibp.default placeName {
  /* Empty Rule Set */
}
.teibp.default population {
  /* dunno with this one */
}
.teibp.default pos {
  /* Empty Rule Set */
}
.teibp.default postBox {
  /* Empty Rule Set */
}
.teibp.default postCode {
  /* Empty Rule Set */
}
.teibp.default postscript {
  display: block;
  margin-top: 2em;
}
.teibp.default precision {
  /* Empty Rule Set */
}
.teibp.default preparedness {
  /* Empty Rule Set */
}
.teibp.default principal {
  font-weight: bold;
}
.teibp.default principal:before {
  font-weight: bold;
  content: "Principal: ";
}
.teibp.default profileDesc {
  display: none;
}
.teibp.default projectDesc {
  /* Empty Rule Set */
}
.teibp.default prologue {
  /* Empty Rule Set */
}
.teibp.default pron {
  /* Empty Rule Set */
}
.teibp.default provenance {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default ptr {
  /* dunno */
}
.teibp.default pubPlace {
  /* Empty Rule Set */
}
.teibp.default publicationStmt > * {
  display: none;
}
.teibp.default publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default publicationStmt > date {
  display: none;
}
.teibp.default publicationStmt > publisher {
  display: none;
}
.teibp.default purpose {
  /* Empty Rule Set */
}
.teibp.default q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.default q:before {
  content: open-quote;
}
.teibp.default q:after {
  content: close-quote;
}
.teibp.default q[next]:after {
  content: "" !important;
}
.teibp.default q[prev]:before {
  content: "" !important;
}
.teibp.default quotation {
  /* Empty Rule Set */
}
.teibp.default quote {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.default quote:before {
  content: open-quote;
}
.teibp.default quote:after {
  content: close-quote;
}
.teibp.default quote[next]:after {
  content: "" !important;
}
.teibp.default quote[prev]:before {
  content: "" !important;
}
.teibp.default rdg {
  /*perhaps choice */
}
.teibp.default rdgGrp {
  /* Empty Rule Set */
}
.teibp.default re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default recordHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default recording {
  /* not sure here, only in header? */
}
.teibp.default recordingStmt {
  /* Empty Rule Set */
}
.teibp.default ref {
  /*include link if target */
}
.teibp.default region {
  /* Empty Rule Set */
}
.teibp.default relatedItem {
  /* Empty Rule Set */
}
.teibp.default relation {
  /* Don't Know*/
}
.teibp.default relationGrp {
  /* Empty Rule Set */
}
.teibp.default remarks {
  font-weight: bold;
}
.teibp.default remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
.teibp.default rendition {
  /*Don't remember what we decided to do with this*/
}
.teibp.default repository {
  /* Empty Rule Set */
}
.teibp.default residence {
  /* Empty Rule Set */
}
.teibp.default resp {
  /* Empty Rule Set */
}
.teibp.default respStmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default restore {
  /* footnote or sidenote perhaps*/
}
.teibp.default revisionDesc {
  display: none;
}
.teibp.default rhyme {
  /* Empty Rule Set */
}
.teibp.default role {
  /* put on same line as roledesc? */
}
.teibp.default roleDesc {
  /* put on same line as role */
}
.teibp.default roleName {
  /* Empty Rule Set */
}
.teibp.default root {
  /* don't know */
}
.teibp.default row {
  display: table-row;
}
.teibp.default rs {
  /* Empty Rule Set */
}
.teibp.default s {
  text-decoration: none;
}
.teibp.default said {
  /* Empty Rule Set */
}
.teibp.default salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default samplingDecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default schemaSpec {
  /*NOT SURE, talk over with group */
}
.teibp.default scriptDesc {
  /*NOT SURE, talk over with group */
}
.teibp.default scriptNote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default scriptStmt {
  /* not sure */
}
.teibp.default seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default seal:before {
  font-weight: bold;
  content: "Seal: ";
}
.teibp.default sealDesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
.teibp.default seg {
  /* Empty Set Rule */
}
.teibp.default segmentation {
  /* Empty Rule Set */
}
.teibp.default sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default series {
  /* treat same as seriesstmt? */
}
.teibp.default seriesStmt {
  display: none;
}
.teibp.default set {
  /* Empty Set Rule */
}
.teibp.default setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default settingDesc {
  /* Empty Set Rule */
}
.teibp.default settlement {
  /* Empty Set Rule */
}
.teibp.default sex {
  /* Empty Rule Set */
}
.teibp.default shift {
  /* seems a bit to complex to do anything with */
}
.teibp.default sic {
  /* rend as choice when contained within a choice tag, perhaps as label with parenthesis after when alone */
}
.teibp.default signatures {
  /* DON't KNOW, look again later */
}
.teibp.default signed {
  display: block;
  margin-top: 2em;
  /*should make name a block when contained within  */
}
.teibp.default soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.default soCalled:before {
  content: open-quote;
}
.teibp.default soCalled:after {
  content: close-quote;
}
.teibp.default soCalled[next]:after {
  content: "" !important;
}
.teibp.default soCalled[prev]:before {
  content: "" !important;
}
.teibp.default socecStatus {
  /* Empty Set Rule */
}
.teibp.default sound {
  font-style: italic;
}
.teibp.default source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp.default sourceDesc {
  display: none;
}
.teibp.default sp {
  /*empty rule set*/
}
.teibp.default space:before {
  font-weight: bold;
  content: "";
}
.teibp.default TEI span {
  display: none;
}
.teibp.default TEI egXML span {
  display: inline;
}
.teibp.default spanGrp {
  /* NOT SURE, look back on */
}
.teibp.default speaker {
  font-weight: bold;
  margin-right: 0;
}
.teibp.default specDesc {
  /* NOT SURE, look back on */
}
.teibp.default specGrp {
  /* NOT SURE, look back on */
}
.teibp.default specGrpRef {
  /* NOT SURE, look back on */
}
.teibp.default specList {
  /* Empty Set Rule */
}
.teibp.default sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /* Block element, maybe labeled  */
}
.teibp.default sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}
.teibp.default stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
.teibp.default stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp.default stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}
.teibp.default state {
  /* Empty Set Rule */
}
.teibp.default stdVals {
  /* Empty Set Rule */
}
.teibp.default street {
  /* Empty Set Rule */
}
.teibp.default stress {
  /* Empty Set Rule */
}
.teibp.default string {
  /* Empty Set Rule */
}
.teibp.default stringVal {
  /* doesn't seem to be part of tei 5 */
}
.teibp.default subc {
  /* Empty Set Rule */
}
.teibp.default subst {
  /* Empty Set Rule */
}
.teibp.default summary {
  /* Empty Set Rule */
}
.teibp.default superEntry {
  /* Block with space above and below, maybe have no block and space for <entry> when contained by this element */
}
.teibp.default supplied {
  /* not sure on this one, seems like we should indicate somehow. Is there a standard way to do this? */
}
.teibp.default support {
  /* Empty Set Rule */
}
.teibp.default supportDesc {
  /* do nothing with or maybe block */
}
.teibp.default surface {
  /* choice */
}
.teibp.default surname {
  /* Empty Set Rule */
}
.teibp.default surplus {
  display: none;
}
.teibp.default surrogates {
  /*Empty Rule Set */
}
.teibp.default syll {
  /* Empty Set Rule */
}
.teibp.default symbol {
  /* Empty Set Rule */
}
.teibp.default TEI {
  display: block;
}
.teibp.default table {
  border-collapse: separate;
  border-spacing: 2px;
}
.teibp.default TEI table {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
.teibp.default table > head {
  text-align: center;
}
.teibp.default teiHeader {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #999;
}
.teibp.default TEI > text {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  line-height: 1.5;
}
.teibp.default textClass {
  display: none;
}
.teibp.default textDesc {
  display: none;
}
.teibp.default TEI title {
  display: inline;
}
.teibp.default TEI title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp.default TEI title[level=a]:before {
  content: open-quote;
}
.teibp.default TEI title[level=a]:after {
  content: close-quote;
}
.teibp.default TEI title[level=a][next]:after {
  content: "" !important;
}
.teibp.default TEI title[level=a][prev]:before {
  content: "" !important;
}
.teibp.default title[level=m] {
  font-style: italic;
}
.teibp.default titleStmt > title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
.teibp.default titleStmt > editor:before {
  content: "Edited by ";
}
.teibp.default typeDesc {
  display: none;
}
.teibp.default u:before {
  content: "-";
}
.teibp.default unicodeName {
  /* Empty Rule Set */
}
.teibp.default usg {
  /* Empty Rule Set */
}
.teibp.default vAlt {
  /* Empty Rule Set */
}
.teibp.default vColl {
  /* Empty Rule Set */
}
.teibp.default vDefault {
  /* Empty Rule Set */
}
.teibp.default vLabel {
  /* Empty Rule Set */
}
.teibp.default vMerge {
  /* Empty Rule Set */
}
.teibp.default vNot {
  /* Empty Rule Set */
}
.teibp.default vRange {
  /* Empty Rule Set */
}
.teibp.default val {
  /* Empty Rule Set */
}
.teibp.default valDesc {
  /* Empty Rule Set */
}
.teibp.default valItem {
  /* Empty Rule Set */
}
.teibp.default valList {
  /* Empty Rule Set */
}
.teibp.default value {
  /* Empty Rule Set */
}
.teibp.default variantEncoding {
  /* Empty Rule Set */
}
.teibp.default view {
  font-style: italic;
}
.teibp.default vocal {
  /* Empty Rule Set */
}
.teibp.default w {
  /* Empty Rule Set */
}
.teibp.default watermark {
  /* Empty Rule Set */
}
.teibp.default width {
  /* Empty Rule Set */
}
.teibp.default wit {
  /* Empty Rule Set */
}
.teibp.default witDetail {
  /* Empty Rule Set */
}
.teibp.default witEnd {
  /* Empty Rule Set */
}
.teibp.default witStart {
  /* Empty Rule Set */
}
.teibp.default witness {
  /* Empty Rule Set */
}
.teibp.default writing {
  /* Empty Rule Set */
}
.teibp.default xr {
  /* Empty Rule Set */
}
.teibp.default zone {
  /* Empty Rule Set */
}
/* styles for .teibp shell and html elements in TEI (e.g.,<a> and <img>) */
.teibp.default {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Cochin, Georgia, Serif;
  font-size: 14pt;
  background-color: #ebebeb;
  color: #292929;
  width: 33em;
  /* xml-serialization */
  /* loading animation */
}
.teibp.default img {
  border: 1px solid #aaaaaa;
}
.teibp.default #footer {
  margin-top: 1em;
  border-top: 1px solid #292929;
  padding-top: .5em;
  font-size: 12pt;
}
.teibp.default a:link,
.teibp.default a:visited,
.teibp.default a:active {
  color: #5f0000;
  text-decoration: none;
}
.teibp.default a:hover {
  color: #5f0000;
  text-decoration: underline;
}
.teibp.default #teibpToolbox {
  left: 56em;
  top: 25px;
  position: fixed;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 12em;
}
.teibp.default #teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #aaaaaa;
}
.teibp.default .eg-element {
  color: #0165c8;
}
.teibp.default .eg-comment {
  color: gray;
}
.teibp.default .eg-att,
.teibp.default .eg-nsdecl {
  color: #f58650;
}
.teibp.default .eg-attvalue,
.teibp.default .eg-ns {
  color: #993300;
}
.teibp.default .eg-text {
  color: #292929;
}
.teibp.default #loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
