/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.teibp {
  /* US Style Quotes */
  /* UK-Style Quotes */
  /* Choice elements */
  /* A */
  /* add */
  /* Could add other [place=] variations */
  /* B */
  /* c */
  /* for cell or row with @role = label */
  /* jawalsh:
	For things like collation, condition, etc. that can have text or paragraphs as
	children, we should use margins, when the content is text, and no margins when there
	are child paragraphs (or other block elements). Otherwise we end up with double
	margins. */
  /* jawalsh:
	Need to discuss and coordinate handling of sic/corr, abbr/expan, and orig/reg */
  /*jawalsh:
	Need to handle attributes for custEvent. All the att.datable* attributes will be tricky.
	custodialHist and custEvent may normally be hidden along with other header metadata, but
	we'll have other datable elements that may be tricky. */
  /* d */
  /* e */
  /* f */
  /* g */
  /* h */
  /* Need head with TEI parent to distinguish from HTML head */
  /* i */
  /* j */
  /* k */
  /* l */
  /* Match only lists that are descendants of
	text. Otherwise they show up in the header. */
  /* m */
  /* n */
  /* o */
  /* p */
  /*
	pb:before {
		content: "[page:\a0" attr(n) "]";
	}
	*/
  /* q */
  /* r */
  /* hide */
  /*label*/
  /* s */
  /* When TEI document is embedded in HTML page,
	   TEI's <s> element can be interpreted by
	   browser as HTML <s>, which results in
	   a strike-through from the "user agent"
	   styles. */
  /* t */
  /* Why is this selector "TEI table" instead of just "table"? */
  /* title */
  /* Need TEI ancestor to distinguish TEI title from HTML title */
  /* u */
  /* v */
  /* w */
  /* x */
  /* z */
}
.teibp .note-like {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp .quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp .quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.teibp .quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp .box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp .hide {
  display: none;
}
.teibp .mono {
  font-family: Courier,monospace;
}
.teibp .page-setup {
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Monaco, "Andale Mono", Courier, monospace;
  font-size: 14pt;
  background-color: #000000;
  color: #00fd00;
  width: 33em;
}
.teibp .table-border {
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #444444;
}
.teibp choice abbr + expan:before,
.teibp choice expan + abbr:before,
.teibp choice sic + corr:before,
.teibp choice corr + sic:before,
.teibp choice orig + reg:before,
.teibp choice reg + orig:before {
  content: " (";
}
.teibp choice abbr + expan:after,
.teibp choice expan + abbr:after,
.teibp choice sic + corr:after,
.teibp choice corr + sic:after,
.teibp choice orig + reg:after,
.teibp choice reg + orig:after {
  content: ")";
}
.teibp ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp accMat {
  display: block;
}
.teibp accMat:before {
  content: "accompanying materials: ";
}
.teibp acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp acquisition:before {
  font-weight: bold;
  content: "acquisition";
}
.teibp activity {
  display: block;
}
.teibp activity:before {
  content: "activity: ";
}
.teibp actor {
  /* Empty Rule Set */
}
.teibp add {
  vertical-align: super;
}
.teibp add[place=below] {
  vertical-align: sub;
}
.teibp addName {
  /* Empty Rule Set */
}
.teibp addSpan {
  /* Empty Rule Set */
}
.teibp additional {
  display: block;
}
.teibp additions {
  display: block;
}
.teibp additions:before {
  content: "Significant additions within the document: ";
}
.teibp addrLine {
  display: block;
}
.teibp address {
  /* Empty Rule Set */
}
.teibp address[rend~="block"],
.teibp addresss[rendition~="#block"] {
  display: block;
}
.teibp adminInfo {
  display: block;
}
.teibp affiliation {
  /* Empty Rule Set */
}
.teibp age {
  /* Empty Rule Set */
}
.teibp alt {
  /* Empty Rule Set */
}
.teibp altGrp {
  /* Empty Rule Set */
}
.teibp altIdent {
  /* Empty Rule Set */
}
.teibp altIdentifier {
  display: block;
}
.teibp altIdentifier:before {
  content: "Alternate ID: ";
}
.teibp am {
  /* Empty Rule Set */
}
.teibp analytic {
  /* Empty Rule Set */
}
.teibp anchor {
  /* Empty Rule Set */
}
.teibp app {
  display: block;
}
.teibp appInfo {
  display: block;
}
.teibp appInfo:before {
  content: "Application information: ";
}
.teibp application {
  display: block;
}
.teibp application:after {
  content: " " attr(version);
}
.teibp arc {
  /* Empty Rule Set */
}
.teibp argument {
  display: block;
}
.teibp att {
  font-family: Courier,monospace;
}
.teibp att:before {
  content: "@";
}
.teibp attDef {
  /* Empty Rule Set */
}
.teibp attList {
  /* Empty Rule Set */
}
.teibp attRef {
  /* Empty Rule Set */
}
.teibp author {
  /* Empty Rule Set */
}
.teibp titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
.teibp authority {
  /* Empty Rule Set */
}
.teibp publicationStmt > availability {
  font-size: 80%;
}
.teibp publicationStmt > availability:before {
  font-weight: bold;
  content: "Availability: ";
}
.teibp publicationStmt > availability[status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}
.teibp back {
  display: block;
}
.teibp bibl {
  /* Empty Rule Set */
}
.teibp bibl[rend~="block"],
.teibp bibl[rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp biblFull {
  display: block;
}
.teibp biblScope {
  /* Empty Rule Set */
}
.teibp biblStruct {
  /* Empty Rule Set */
}
.teibp bicond {
  /* Empty Rule Set */
}
.teibp binary {
  /* Empty Rule Set */
}
.teibp binaryObject {
  /* Empty Rule Set */
}
.teibp binding {
  display: block;
}
.teibp binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}
.teibp binding[contemporary]:before {
  content: "Binding: \A" "Contemporary: " attr(contemporary) "\A";
  white-space: pre-wrap;
}
.teibp bindingDesc {
  display: block;
}
.teibp bindngDesc:before {
  content: "Binding Description: \A";
}
.teibp birth {
  display: block;
}
.teibp birth:before {
  content: "Birth: ";
}
.teibp bloc {
  /* Empty Rule Set */
}
.teibp broadcast {
  /* Empty Rule Set */
}
.teibp byline {
  /* Empty Rule Set */
}
.teibp c {
  /* Empty Rule Set */
}
.teibp cRefPattern {
  display: none;
}
.teibp caesura {
  /* Empty Rule Set */
}
.teibp camera {
  /* Empty Rule Set */
}
.teibp caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp case[value]:before {
  font-weight: bold;
  content: attr(value) " ";
}
.teibp castGroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp castItem {
  display: list-item;
  list-style-type: none;
}
.teibp castList {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
.teibp catDesc {
  /* Empty Rule Set */
}
.teibp catRef {
  /* Empty Rule Set */
}
.teibp category {
  /* Empty Rule Set */
}
.teibp cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp cb:before {
  content: "[column break]";
}
.teibp cell {
  display: table-cell;
  padding: 1em 1.5em 1em 1em;
  /*
	border-left: 2px solid @border-color;
	border-top:2px solid @border-color;
	*/
  border: 1px dotted #444444;
  width: 100%;
}
.teibp [role=label] {
  font-weight: bold;
}
.teibp certainty {
  /* Empty Rule Set */
}
.teibp change {
  /* Empty Rule Set */
}
.teibp channel {
  /* Empty Rule Set */
}
.teibp charDecl {
  /* Empty Rule Set */
}
.teibp charName {
  /* Empty Rule Set */
}
.teibp charProp {
  /* Empty Rule Set */
}
.teibp choice {
  /* Empty Rule Set */
}
.teibp cit {
  /* Empty Rule Set */
}
.teibp cl {
  /* Empty Rule Set */
}
.teibp classCode {
  /* Empty Rule Set */
}
.teibp classDecl {
  /* Empty Rule Set */
}
.teibp classRef {
  /* Empty Rule Set */
}
.teibp classSpec {
  /* Empty Rule Set */
}
.teibp classes {
  /* Empty Rule Set */
}
.teibp climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp climate:before {
  font-weight: bold;
  content: "Climate: ";
}
.teibp closer {
  /* Empty Rule Set */
}
.teibp code {
  font-family: Courier,monospace;
}
.teibp collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp collection {
  /* Empty Rule Set */
}
.teibp colloc {
  /* Empty Rule Set */
}
.teibp colophon {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp cond {
  /* Empty Rule Set */
}
.teibp condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}
.teibp constitution[type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp constitution[type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}
.teibp constitution[type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp constitution[type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}
.teibp constraint {
  /* Empty Rule Set */
}
.teibp constraintSpec {
  /* Empty Rule Set */
}
.teibp content {
  /* Empty Rule Set */
}
.teibp corr {
  /* Empty Rule Set */
}
.teibp correction {
  /* Empty Rule Set */
}
.teibp country {
  /* Empty Rule Set */
}
.teibp creation {
  /* Empty Rule Set */
}
.teibp custEvent {
  display: list-item;
}
.teibp custodialHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp date[when]:empty:before {
  content: attr(when);
}
.teibp egXML {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #444444;
  margin-top: .75em;
  margin-bottom: .75em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-family: monospace;
  white-space: pre;
}
.teibp encodingDesc {
  display: none;
}
.teibp epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp fileDesc > extent {
  display: none;
}
.teibp figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.teibp g {
  /* Empty Rule Set */
}
.teibp gap {
  /* GLS: Depending upon how we handle gap and lacuna, we may want to enclose in [] */
}
.teibp gb {
  /* Empty Rule Set */
}
.teibp gen {
  /* Empty Rule Set */
}
.teibp genName {
  /* Empty Rule Set */
}
.teibp geo {
  /* Empty Rule Set */
}
.teibp geoDecl {
  /* Empty Rule Set */
}
.teibp geogFeat {
  /* Empty Rule Set */
}
.teibp geogName {
  /* Empty Rule Set */
}
.teibp gi {
  font-family: Courier,monospace;
}
.teibp gi:before {
  content: "<";
}
.teibp gi:after {
  content: ">";
}
.teibp gloss {
  /* Empty Rule Set */
}
.teibp glyph {
  /* Empty Rule Set */
}
.teibp glyphName {
  /* Empty Rule Set */
}
.teibp gram {
  /* Empty Rule Set */
}
.teibp gramGrp {
  /* Empty Rule Set */
}
.teibp graph {
  /* Empty for now */
}
.teibp graphic {
  display: none;
}
.teibp group {
  /* Empty Rule Set */
}
.teibp handDesc {
  /* Empty Rule Set */
}
.teibp handNote {
  /* Empty Rule Set */
}
.teibp handNotes {
  /* Empty Rule Set */
}
.teibp handShift {
  /* Empty Rule Set */
}
.teibp TEI head {
  display: block;
  font-family: Monaco, "Andale Mono", Courier, monospace;
  font-weight: normal;
}
.teibp body > head {
  font-size: 180%;
  text-indent: -0.5em;
}
.teibp div > head {
  font-size: 170%;
  text-indent: -0.5em;
}
.teibp div > div > head {
  font-size: 155%;
}
.teibp div > div > div > head {
  font-size: 140%;
}
.teibp div > div > div > div > head,
.teibp list > head {
  font-size: 130%;
}
.teibp div > div > div > div > div > head {
  font-size: 120%;
}
.teibp div > div > div > div > div > div head {
  font-size: 110%;
}
.teibp figure > head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Monaco, "Andale Mono", Courier, monospace;
  font-size: 14pt;
}
.teibp headItem {
  /* Empty Rule Set */
}
.teibp headLabel {
  /* Empty Rule Set */
}
.teibp height {
  /* Empty Rule Set */
}
.teibp heraldry {
  /* Empty Rule Set */
}
.teibp hi {
  /* GLS: do we want to bold this or change the background color? */
}
.teibp history {
  /* Empty Rule Set */
}
.teibp hom {
  /* Empty Rule Set */
}
.teibp hyph {
  /* Empty Rule Set */
}
.teibp hyphenation {
  /* Empty Rule Set */
}
.teibp iNode {
  /* Empty Rule Set */
}
.teibp iType {
  /* Empty Rule Set */
}
.teibp ident {
  font-family: Courier,monospace;
}
.teibp idno {
  /* Empty Rule Set */
}
.teibp if {
  /* Empty Rule Set */
}
.teibp iff {
  /* Empty Rule Set */
}
.teibp imprimatur {
  /* Empty Rule Set */
}
.teibp imprint {
  /* Empty Rule Set */
}
.teibp incident {
  /* Empty Rule Set */
}
.teibp incipit {
  /* Empty Rule Set */
}
.teibp index {
  /* Empty Rule Set */
}
.teibp institution {
  /* Empty Rule Set */
}
.teibp interaction {
  /* Empty Rule Set */
}
.teibp interpGrp {
  /* Empty Rule Set */
}
.teibp interpretation {
  /* Empty Rule Set */
}
.teibp item {
  display: list-item;
  margin-left: 1em;
}
.teibp cell item {
  margin-left: 1em;
}
.teibp list[type="gloss"] > item {
  margin-left: 2em;
}
.teibp join {
  /* Empty Rule Set */
}
.teibp joinGrp {
  /* Empty Rule Set */
}
.teibp keywords {
  /* Empty Rule Set */
}
.teibp kinesic {
  /* Empty Rule Set */
}
.teibp l {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}
.teibp list[type="gloss"] > label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.teibp lacunaEnd {
  /* Empty Rule Set */
}
.teibp lacunaStart {
  /* Empty Rule Set */
}
.teibp lang {
  /* Empty Rule Set */
}
.teibp langKnowledge {
  /* Empty Rule Set */
}
.teibp langKnown {
  /* Empty Rule Set */
}
.teibp langUsage {
  /* Empty Rule Set */
}
.teibp language {
  /* Empty Rule Set */
}
.teibp layout {
  /* Empty Rule Set */
}
.teibp layoutDesc {
  /* Empty Rule Set */
}
.teibp lb {
  /* Empty Rule Set */
}
.teibp lb:after {
  content: '\a';
  white-space: pre;
}
.teibp lbl {
  /* Empty Rule Set */
}
.teibp leaf {
  /* Empty Rule Set */
}
.teibp lem {
  /* Empty Rule Set */
}
.teibp lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp link {
  /* Empty Rule Set */
}
.teibp linkGrp {
  /* Empty Rule Set */
}
.teibp list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp item > list {
  margin-top: 0;
}
.teibp text list[type=simple] {
  list-style-type: none;
}
.teibp text list[type=bulleted] {
  list-style-type: disc;
}
.teibp text list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}
.teibp text list[type=ordered] > item {
  display: list-item;
  margin-left: 0;
}
.teibp item > list[type=ordered] {
  margin-left: 1em;
}
.teibp text list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}
.teibp text list[type=gloss] {
  list-style-type: none;
}
.teibp item > list[type=ordered] {
  margin-left: 1em;
}
.teibp localName {
  /* Empty Rule Set */
}
.teibp locale {
  /* Empty Rule Set */
}
.teibp location {
  /* Empty Rule Set */
}
.teibp locus {
  /* Empty Rule Set */
}
.teibp locusGrp {
  /* Empty Rule Set */
}
.teibp m {
  /* Empty Rule Set */
}
.teibp macroRef {
  /* Empty Rule Set NOT SURE WHAT EXACTLY*/
}
.teibp macroSpec {
  /* dunno */
}
.teibp mapping {
  /* not sure, maybe create rends for a few standard types, maybe hide */
}
.teibp material {
  /* Empty Rule Set */
}
.teibp measure {
  /* Empty Rule Set */
}
.teibp measureGrp {
  /* probably want to display attributes, at least units and type */
}
.teibp meeting {
  /*Block */
}
.teibp memberOf {
  /* Empty Rule Set */
}
.teibp mentioned {
  /* think do nothing, not real clear on function, maybe hide? */
}
.teibp metDecl {
  /* Empty Rule Set */
}
.teibp metSym {
  /* Empty Rule Set */
}
.teibp milestone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.teibp milestone:before {
  content: "* * * * *";
}
.teibp moduleRef {
  /* probably hide, not sure how we want to deal */
}
.teibp moduleSpec {
  /* probably hide, not sure how we want to deal */
}
.teibp monogr {
  /* block with space above, below */
}
.teibp mood {
  /* Empty Rule Set */
}
.teibp move {
  /* not sure, block, maybe just ital, maybe in parenths*/
}
.teibp msContents .block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp msDesc {
  /* block with space above, below */
}
.teibp msIdentifier {
  /* block */
}
.teibp msItem {
  /* block */
}
.teibp msItemStruct {
  /* block */
}
.teibp msName {
  /* Empty Rule Set */
}
.teibp msPart {
  /* not sure, think block */
}
.teibp musicNotation {
  font-weight: bold;
}
.teibp musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}
.teibp name {
  /* Empty Rule Set */
}
.teibp nameLink {
  /* Empty Rule Set */
}
.teibp namespace {
  /* not sure, hide? */
}
.teibp nationality {
  /* Empty Rule Set */
}
.teibp node {
  display: none;
}
.teibp normalization {
  /* Empty Rule Set */
}
.teibp note {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #444444;
  background: #252525;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.teibp notesStmt {
  /* do we want to box each individual <note> if they're in a <notesStmt>? */
  display: none;
}
.teibp num {
  /* Empty Rule Set */
}
.teibp number {
  /* Empty Rule Set */
}
.teibp numeric {
  /* not sure, depends how we're dealing with <f>'s */
}
.teibp nym {
  /* not really sure here */
}
.teibp oRef {
  /* not sure, think do nothing */
}
.teibp oVar {
  font-style: italic;
}
.teibp objectDesc {
  /* Empty Rule Set */
}
.teibp objectType {
  /* Empty Rule Set */
}
.teibp occupation {
  /* Empty Rule Set */
}
.teibp offset {
  /* Empty Rule Set */
}
.teibp opener {
  /* Empty Rule Set */
}
.teibp org {
  /* Empty Rule Set */
}
.teibp orgName {
  /* Empty Rule Set */
}
.teibp origDate {
  /* Empty Rule Set */
}
.teibp origPlace {
  font-weight: bold;
}
.teibp origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}
.teibp origin {
  /* Empty Rule Set */
}
.teibp p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
.teibp *[rendition~="#center"] p {
  text-align: center;
}
.teibp availability > p:first-child {
  margin-top: 0em;
}
.teibp pRef {
  /* rend attribute target */
}
.teibp pVar {
  /* rend attribute target */
}
.teibp particDesc {
  /* Empty Rule Set */
}
.teibp pause {
  /* Empty Rule Set*/
}
.teibp pb {
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 11pt;
}
.teibp pc {
  /* Empty Rule Set */
}
.teibp per {
  /* don't know, check back */
}
.teibp performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp persName {
  /* Empty Rule Set */
}
.teibp person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp phr {
  /* Empty Rule Set */
}
.teibp physDesc {
  /* Empty Rule Set */
}
.teibp place {
  /* Empty Rule Set */
}
.teibp placeName {
  /* Empty Rule Set */
}
.teibp population {
  /* dunno with this one */
}
.teibp pos {
  /* Empty Rule Set */
}
.teibp postBox {
  /* Empty Rule Set */
}
.teibp postCode {
  /* Empty Rule Set */
}
.teibp postscript {
  display: block;
  margin-top: 2em;
}
.teibp precision {
  /* Empty Rule Set */
}
.teibp preparedness {
  /* Empty Rule Set */
}
.teibp principal {
  font-weight: bold;
}
.teibp principal:before {
  font-weight: bold;
  content: "Principal: ";
}
.teibp profileDesc {
  display: none;
}
.teibp projectDesc {
  /* Empty Rule Set */
}
.teibp prologue {
  /* Empty Rule Set */
}
.teibp pron {
  /* Empty Rule Set */
}
.teibp provenance {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp ptr {
  /* dunno */
}
.teibp pubPlace {
  /* Empty Rule Set */
}
.teibp publicationStmt > * {
  display: none;
}
.teibp publicationStmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp publicationStmt > date {
  display: none;
}
.teibp publicationStmt > publisher {
  display: none;
}
.teibp purpose {
  /* Empty Rule Set */
}
.teibp q {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp q:before {
  content: open-quote;
}
.teibp q:after {
  content: close-quote;
}
.teibp q[next]:after {
  content: "" !important;
}
.teibp q[prev]:before {
  content: "" !important;
}
.teibp quotation {
  /* Empty Rule Set */
}
.teibp quote {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp quote:before {
  content: open-quote;
}
.teibp quote:after {
  content: close-quote;
}
.teibp quote[next]:after {
  content: "" !important;
}
.teibp quote[prev]:before {
  content: "" !important;
}
.teibp rdg {
  /*perhaps choice */
}
.teibp rdgGrp {
  /* Empty Rule Set */
}
.teibp re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp recordHist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp recording {
  /* not sure here, only in header? */
}
.teibp recordingStmt {
  /* Empty Rule Set */
}
.teibp ref {
  /*include link if target */
}
.teibp region {
  /* Empty Rule Set */
}
.teibp relatedItem {
  /* Empty Rule Set */
}
.teibp relation {
  /* Don't Know*/
}
.teibp relationGrp {
  /* Empty Rule Set */
}
.teibp remarks {
  font-weight: bold;
}
.teibp remarks:before {
  font-weight: bold;
  content: "remarks: ";
}
.teibp rendition {
  /*Don't remember what we decided to do with this*/
}
.teibp repository {
  /* Empty Rule Set */
}
.teibp residence {
  /* Empty Rule Set */
}
.teibp resp {
  /* Empty Rule Set */
}
.teibp respStmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp restore {
  /* footnote or sidenote perhaps*/
}
.teibp revisionDesc {
  display: none;
}
.teibp rhyme {
  /* Empty Rule Set */
}
.teibp role {
  /* put on same line as roledesc? */
}
.teibp roleDesc {
  /* put on same line as role */
}
.teibp roleName {
  /* Empty Rule Set */
}
.teibp root {
  /* don't know */
}
.teibp row {
  display: table-row;
}
.teibp rs {
  /* Empty Rule Set */
}
.teibp s {
  text-decoration: none;
}
.teibp said {
  /* Empty Rule Set */
}
.teibp salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp samplingDecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp schemaSpec {
  /*NOT SURE, talk over with group */
}
.teibp scriptDesc {
  /*NOT SURE, talk over with group */
}
.teibp scriptNote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp scriptStmt {
  /* not sure */
}
.teibp seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp seal:before {
  font-weight: bold;
  content: "Seal: ";
}
.teibp sealDesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}
.teibp seg {
  /* Empty Set Rule */
}
.teibp segmentation {
  /* Empty Rule Set */
}
.teibp sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp series {
  /* treat same as seriesstmt? */
}
.teibp seriesStmt {
  display: none;
}
.teibp set {
  /* Empty Set Rule */
}
.teibp setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp settingDesc {
  /* Empty Set Rule */
}
.teibp settlement {
  /* Empty Set Rule */
}
.teibp sex {
  /* Empty Rule Set */
}
.teibp shift {
  /* seems a bit to complex to do anything with */
}
.teibp sic {
  /* rend as choice when contained within a choice tag, perhaps as label with parenthesis after when alone */
}
.teibp signatures {
  /* DON't KNOW, look again later */
}
.teibp signed {
  display: block;
  margin-top: 2em;
  /*should make name a block when contained within  */
}
.teibp soCalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp soCalled:before {
  content: open-quote;
}
.teibp soCalled:after {
  content: close-quote;
}
.teibp soCalled[next]:after {
  content: "" !important;
}
.teibp soCalled[prev]:before {
  content: "" !important;
}
.teibp socecStatus {
  /* Empty Set Rule */
}
.teibp sound {
  font-style: italic;
}
.teibp source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.teibp sourceDesc {
  display: none;
}
.teibp sp {
  /*empty rule set*/
}
.teibp space:before {
  font-weight: bold;
  content: "";
}
.teibp TEI span {
  display: none;
}
.teibp TEI egXML span {
  display: inline;
}
.teibp spanGrp {
  /* NOT SURE, look back on */
}
.teibp speaker {
  font-weight: bold;
  margin-right: 0;
}
.teibp specDesc {
  /* NOT SURE, look back on */
}
.teibp specGrp {
  /* NOT SURE, look back on */
}
.teibp specGrpRef {
  /* NOT SURE, look back on */
}
.teibp specList {
  /* Empty Set Rule */
}
.teibp sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  /* Block element, maybe labeled  */
}
.teibp sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}
.teibp stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}
.teibp stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
.teibp stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}
.teibp state {
  /* Empty Set Rule */
}
.teibp stdVals {
  /* Empty Set Rule */
}
.teibp street {
  /* Empty Set Rule */
}
.teibp stress {
  /* Empty Set Rule */
}
.teibp string {
  /* Empty Set Rule */
}
.teibp stringVal {
  /* doesn't seem to be part of tei 5 */
}
.teibp subc {
  /* Empty Set Rule */
}
.teibp subst {
  /* Empty Set Rule */
}
.teibp summary {
  /* Empty Set Rule */
}
.teibp superEntry {
  /* Block with space above and below, maybe have no block and space for <entry> when contained by this element */
}
.teibp supplied {
  /* not sure on this one, seems like we should indicate somehow. Is there a standard way to do this? */
}
.teibp support {
  /* Empty Set Rule */
}
.teibp supportDesc {
  /* do nothing with or maybe block */
}
.teibp surface {
  /* choice */
}
.teibp surname {
  /* Empty Set Rule */
}
.teibp surplus {
  display: none;
}
.teibp surrogates {
  /*Empty Rule Set */
}
.teibp syll {
  /* Empty Set Rule */
}
.teibp symbol {
  /* Empty Set Rule */
}
.teibp TEI {
  display: block;
}
.teibp table {
  border-collapse: separate;
  border-spacing: 2px;
}
.teibp TEI table {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
.teibp table > head {
  text-align: center;
}
.teibp teiHeader {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #999;
}
.teibp TEI > text {
  display: block;
  /*
	border-radius: 15px;
	border: 1px solid black;
	background:white;
	*/
  line-height: 1.5;
}
.teibp textClass {
  display: none;
}
.teibp textDesc {
  display: none;
}
.teibp TEI title {
  display: inline;
}
.teibp TEI title[level=a] {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.teibp TEI title[level=a]:before {
  content: open-quote;
}
.teibp TEI title[level=a]:after {
  content: close-quote;
}
.teibp TEI title[level=a][next]:after {
  content: "" !important;
}
.teibp TEI title[level=a][prev]:before {
  content: "" !important;
}
.teibp title[level=m] {
  font-style: italic;
}
.teibp titleStmt > title {
  display: block;
  font-family: Monaco, "Andale Mono", Courier, monospace;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}
.teibp titleStmt > editor:before {
  content: "Edited by ";
}
.teibp typeDesc {
  display: none;
}
.teibp u:before {
  content: "-";
}
.teibp unicodeName {
  /* Empty Rule Set */
}
.teibp usg {
  /* Empty Rule Set */
}
.teibp vAlt {
  /* Empty Rule Set */
}
.teibp vColl {
  /* Empty Rule Set */
}
.teibp vDefault {
  /* Empty Rule Set */
}
.teibp vLabel {
  /* Empty Rule Set */
}
.teibp vMerge {
  /* Empty Rule Set */
}
.teibp vNot {
  /* Empty Rule Set */
}
.teibp vRange {
  /* Empty Rule Set */
}
.teibp val {
  /* Empty Rule Set */
}
.teibp valDesc {
  /* Empty Rule Set */
}
.teibp valItem {
  /* Empty Rule Set */
}
.teibp valList {
  /* Empty Rule Set */
}
.teibp value {
  /* Empty Rule Set */
}
.teibp variantEncoding {
  /* Empty Rule Set */
}
.teibp view {
  font-style: italic;
}
.teibp vocal {
  /* Empty Rule Set */
}
.teibp w {
  /* Empty Rule Set */
}
.teibp watermark {
  /* Empty Rule Set */
}
.teibp width {
  /* Empty Rule Set */
}
.teibp wit {
  /* Empty Rule Set */
}
.teibp witDetail {
  /* Empty Rule Set */
}
.teibp witEnd {
  /* Empty Rule Set */
}
.teibp witStart {
  /* Empty Rule Set */
}
.teibp witness {
  /* Empty Rule Set */
}
.teibp writing {
  /* Empty Rule Set */
}
.teibp xr {
  /* Empty Rule Set */
}
.teibp zone {
  /* Empty Rule Set */
}
/* styles for html shell and html elements in TEI (e.g.,<a> and <img>) */
html > body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: Monaco, "Andale Mono", Courier, monospace;
  font-size: 14pt;
  background-color: #000000;
  color: #00fd00;
  width: 33em;
}
.teibp {
  /* xml-serialization */
  /* loading animation */
}
.teibp img {
  border: 1px solid #444444;
}
.teibp #footer {
  margin-top: 1em;
  border-top: 1px solid #00fd00;
  padding-top: .5em;
  font-size: 12pt;
}
.teibp a:link,
.teibp a:visited,
.teibp a:active {
  color: #1cc0fa;
  text-decoration: none;
}
.teibp a:hover {
  color: #1cc0fa;
  text-decoration: underline;
}
.teibp #teibpToolbox {
  left: 56em;
  top: 25px;
  position: fixed;
  font-size: 70%;
  margin-right: 1em;
  padding: 1em;
  border-radius: 15px;
  border: 1px solid #444444;
  background: #252525;
  font-family: Arvo, Verdana, sans-serif;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 12em;
}
.teibp #teibpToolbox h1 {
  font-weight: bold;
  font-size: 115%;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid #444444;
}
.teibp .eg-element {
  color: #0165c8;
}
.teibp .eg-comment {
  color: gray;
}
.teibp .eg-att,
.teibp .eg-nsdecl {
  color: #f58650;
}
.teibp .eg-attvalue,
.teibp .eg-ns {
  color: #993300;
}
.teibp .eg-text {
  color: #00fd00;
}
.teibp #loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/transparentbg.png");
}
/* Terminal Theme */
.teibp .head-font {
  font-family: Monaco, "Andale Mono", Courier, monospace;
  font-weight: normal;
}
